In [58]:
import pandas as pd
import warnings
from unidecode import unidecode
from sportsreference.ncaab.roster import Player
from re import search
from tqdm import tqdm, tqdm_notebook
import numpy as np
import time
warnings.filterwarnings('ignore')

In [59]:
from sportsreference.ncaab.roster import Player

In [60]:
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 500)

In [61]:
df = pd.read_csv("NBA_data.csv")

In [62]:
#make all column titles lower case
df.columns = map(str.lower, df.columns)
df.head()

,win shares,mins played (per game),player,games,year,rank,points(per game),ws/48,box +/-,value overall replacement player,team,college,years,mins played (total),points (total),class
0,48.0,30.6,Kenyon Martin,757,2000,1,12.3,0.100,0.7,15.5,NJN,Cincinnati,15,23134,9325,Player
1,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.010,-5.4,-1.1,CHI,Indiana,3,1246,442,Player
2,11.6,14.3,Jake Voskuhl,450,2000,33,4.0,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814,Player
3,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.030,-3.8,-0.4,CHI,UConn,1,936,314,Bust
4,-0.1,10.6,Mike Smith,17,2000,35,3.0,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51,Bust

In [63]:
def make_ids(col):
    global makes_ids
    clean_player = [unidecode(player) for player in col]
    suffix = "-1"
    makes_ids = [player.replace(".", "").replace("'", "").replace(" ", "-").lower()+suffix for player in clean_player]
    return makes_ids[:10]

In [64]:
make_ids(df["player"])

['kenyon-martin-1',
 'aj-guyton-1',
 'jake-voskuhl-1',
 'khalid-el-amin-1',
 'mike-smith-1',
 'eddie-house-1',
 'eduardo-najera-1',
 'lavor-postell-1',
 'hanno-mottola-1',
 'chris-carrawell-1']

In [ ]:
#see which players are generating errors when trying to call college data 
for player in tqdm_notebook(makes_ids):
    try:
        college = Player(player)
    except:
        print(f'Error for {player} in index # {makes_ids.index(player)}')

#exceptions
deeandre hullett, cc 23
kedrick brown, cc, 78
ronald murray, cc, 93
qyntel woods, cc, 128
jerome beasely, cc, 139
donta smith, cc, 172
luc-richard-mbah-a-moute-1, 337
bill-walker-1, 343
patrick-mills-1, 398
jeff-pendergraph-1, 403
bj-mullens-1, 424
bernard james, cc, 533
thomas-robinson-2, 555
ricky ledo, cc, 579
roy-devyn-marble-1, 644
kyle-anderson-3, 650
stephen-zimmermanjr-1, 720
kahlil-felder-1, 732
jakob-poeltl-1, 748
taurean-prince-1, 750
edrice-adebayo-1, 799
malik-milton-1, 830
raymond-spalding-1, 831
marvin-bagleyiii-1, 839
lonnie-walker-2, 853

In [65]:
#make list to fix incorrect player id's 
replace = [('luc-richard-mbah-a-moute-1', 337), ('bill-walker-1', 343), ('patrick-mills-1', 398), ('jeff-pendergraph-1', 403), 
          ('bj-mullens-1', 424),('thomas-robinson-2', 555), ('roy-devyn-marble-1', 644), ('kyle-anderson-3', 650), 
           ('stephen-zimmermanjr-1', 720), ('kahlil-felder-1', 732),('jakob-poeltl-1', 748), ('taurean-prince-1', 750),
           ('edrice-adebayo-1', 799), ('malik-milton-1', 830),('raymond-spalding-1', 831), ('marvin-bagleyiii-1', 839),
           ('lonnie-walker-2', 853)]

In [66]:
#replace incorrect id's
for player in replace:
    makes_ids[player[1]] = player[0]

In [67]:
#list players to remove
remove = ['deeandre-hulett-1', 'kedrick-brown-1', 'ronald-murray-1', 'qyntel-woods-1',
'jerome-beasley-1', 'donta-smith-1','bernard-james-1', 'ricky-ledo-1']
no_cc = [player for player in makes_ids if player not in remove] 
len(no_cc)

855

In [68]:
#list index of players to remove
remove_nums = [23, 78, 93, 128, 139, 172, 533, 579]

In [69]:
#remove same index rows from df
clean_df = df.drop(remove_nums)

In [70]:
#reset index
#re-index clean_df
clean_df.reset_index(drop=True, inplace=True)

In [71]:
#add Player_id column to clean NBA stats df
clean_df['player_id'] = no_cc

In [72]:
len(clean_df)

855

In [73]:
#run function that assigns schools to players and replaces hyphenated school names
def college_correct(col):
    global college_list
    college_list=[]
    for player in tqdm_notebook(col):
            try:
                college = Player(player).team_abbreviation
                college_list.append(college)
            except:
                print(f'Error for {player}')
    college_list = [school.replace("-", " ") for school in college_list]

In [74]:
#run function that assigns schools to players and replaces hyphenated school names
#we will use schools to check if we have the correct player_ids
college_correct(clean_df['player_id'])

HBox(children=(IntProgress(value=0, max=855), HTML(value='')))

In [75]:
#add to clean_df
clean_df['college_id'] = college_list

In [76]:
#create function to changes school names to popular abbreviations 
def college_abv(col):
    global col_list
    col_list = (col.replace("connecticut", "uconn").replace("louisiana state", "lsu")
              .replace("southern california", "usc") .replace('north carolina', 'unc').replace('southern methodist', 'smu')
              .replace('brigham young', 'byu').replace('nevada las vegas', 'unlv').replace('mississippi', 'ole miss')
              .replace('north carolina state', 'nc state').replace('massachusetts', 'umass').replace('pittsburgh', 'pitt')
              .replace('louisiana lafayette', 'la-lafayette'))

In [77]:
#run function and convert column
college_abv(clean_df["college_id"])
clean_df["college_id"] = col_list

In [78]:
#convert College column to lower case 
clean_df['college'] = clean_df['college'].str.lower()

In [79]:
#create word column used for college matching
word = [words.split()[0] for words in clean_df['college_id']]
clean_df['word'] = word

In [80]:
#define function to see if college columns match.
#This alerts us to a possible incorrect player-id
def college_wrong(df):
    global wrong_players
    wrong_players = []
    for index, row in tqdm_notebook(df.iterrows()):
        time.sleep(.1)
        if search(row["word"], row["college"]):
            print(row["player"], "at ", index, " matches")
        else:
            print(row["player"], "at ", index, " does NOT match")
            wrong_players.append((row["player"]))

In [81]:
college_wrong(clean_df)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

Kenyon Martin at  0  matches
A.J. Guyton at  1  matches
Jake Voskuhl at  2  matches
Khalid El-Amin at  3  matches
Mike Smith at  4  matches
Eddie House at  5  matches
Eduardo Nájera at  6  matches
Lavor Postell at  7  matches
Hanno Möttölä at  8  matches
Chris Carrawell at  9  matches
Michael Redd at  10  matches
Dan Langhi at  11  matches
Jabari Smith at  12  matches
Mark Karcher at  13  matches
Jason Hart at  14  matches
Kaniel Dickens at  15  matches
Ernest Brown at  16  does NOT match
Dan McClintock at  17  matches
Cory Hightower at  18  does NOT match
Chris Porter at  19  matches
Jaquay Walls at  20  matches
Scoonie Penn at  21  matches
Pete Mickeal at  22  matches
Brian Cardinal at  23  matches
Erick Barkley at  24  matches
Mark Madsen at  25  matches
Stromile Swift at  26  matches
Marcus Fizer at  27  matches
Mike Miller at  28  matches
DerMarr Johnson at  29  matches
Chris Mihm at  30  matches
Jamal Crawford at  31  matches
Keyon Dooling at  32  matches
Jérôme Moïso at  33  matches
Etan Thomas at  34  matches
Courtney Alexander at  35  matches
Mateen Cleaves at  36  matches
Joel Przybilla at  37  matches
Mamadou N'Diaye at  38  matches
Jason Collier at  39  matches
Morris Peterson at  40  matches
Donnell Harvey at  41  matches
Jamaal Magloire at  42  matches
Quentin Richardson at  43  matches
Desmond Mason at  44  matches
Speedy Claxton at  45  matches
Michael Wright at  46  matches
Bobby Simmons at  47  matches
Jamison Brewer at  48  matches
Earl Watson at  49  matches
Omar Cook at  50  matches
Jeff Trepagnier at  51  matches
Brian Scalabrine at  52  matches
Terence Morris at  53  matches
Will Solomon at  54  matches
Eric Chenowith at  55  matches
Damone Brown at  56  matches
Kyle Hill at  57  matches
Bryan Bracey at  58  matches
Loren Woods at  59  matches
Ken Johnson at  60  does NOT match
Ruben Boumtje-Boumtje at  61  matches
Alton Ford at  62  matches
Andre Hutson at  63  matches
Jarron Collins at  64  matches
Kenny Satterfield at  65  matches
Maurice Jeffers at  66  matches
Alvin Jones at  67  matches
Gilbert Arenas at  68  matches
Sean Lampley at  69  matches
Trenton Hassell at  70  matches
Steven Hunter at  71  matches
Jason Richardson at  72  matches
Shane Battier at  73  matches
Eddie Griffin at  74  matches
Rodney White at  75  matches
Joe Johnson at  76  matches
Richard Jefferson at  77  matches
Samuel Dalembert at  78  matches
Jamaal Tinsley at  79  matches
Troy Murphy at  80  matches
Gerald Wallace at  81  matches
Brandon Armstrong at  82  matches
Joseph Forte at  83  matches
Jeryl Sasser at  84  matches
Zach Randolph at  85  matches
Jason Collins at  86  matches
Michael Bradley at  87  matches
Kirk Haston at  88  matches
Brendan Haywood at  89  matches
Rod Grizzard at  90  matches
Tito Maddox at  91  matches
Robert Archibald at  92  matches
Carlos Boozer at  93  matches
Dan Gadzuric at  94  matches
Vincent Yarbrough at  95  matches
Jason Jennings at  96  matches
Lonny Baxter at  97  matches
Corsley Edwards at  98  matches
Matt Barnes at  99  matches
Jamal Sampson at  100  matches
Chris Owens at  101  matches
Darius Songaila at  102  matches
Marcus Taylor at  103  matches
Rasual Butler at  104  matches
Tamar Slay at  105  matches
Randy Holcomb at  106  matches
Roger Mason at  107  matches
Sam Clancy at  108  matches
Steve Logan at  109  matches
Dan Dickau at  110  matches
Jay Williams at  111  matches
Mike Dunleavy at  112  does NOT match
Drew Gooden at  113  matches
Dajuan Wagner at  114  matches
Chris Wilcox at  115  matches
Caron Butler at  116  matches
Jared Jeffries at  117  matches
Melvin Ely at  118  matches
Marcus Haislip at  119  matches
Fred Jones at  120  matches
Chris Jefferies at  121  matches
John Salmons at  122  matches
Frank Williams at  123  matches
Tayshaun Prince at  124  matches
Kareem Rush at  125  matches
Ryan Humphrey at  126  matches
Curtis Borchardt at  127  matches
Juan Dixon at  128  matches
Casey Jacobsen at  129  matches
Willie Green at  130  matches
Derrick Zimmerman at  131  matches
Steve Blake at  132  matches
Mario Austin at  133  matches
Keith Bogans at  134  matches
Luke Walton at  135  matches
Travis Hansen at  136  matches
Mo Williams at  137  matches
James Jones at  138  matches
Kyle Korver at  139  matches
Tommy Smith at  140  matches
Rick Rickert at  141  matches
Brandon Hunter at  142  matches
Jason Kapono at  143  matches
Matt Bonner at  144  matches
Josh Howard at  145  matches
Carmelo Anthony at  146  matches
Chris Bosh at  147  matches
Dwyane Wade at  148  matches
Chris Kaman at  149  matches
Kirk Hinrich at  150  matches
Mike Sweetney at  151  matches
Jarvis Hayes at  152  matches
Nick Collison at  153  matches
Marcus Banks at  154  matches
T.J. Ford at  155  matches
Reece Gaines at  156  matches
Luke Ridnour at  157  matches
Brian Cook at  158  matches
Dahntay Jones at  159  matches
David West at  160  matches
Troy Bell at  161  matches
David Young at  162  does NOT match
Justin Reed at  163  matches
Chris Duhon at  164  matches
Andre Emmett at  165  matches
Antonio Burks at  166  matches
Lionel Chalmers at  167  matches
Trevor Ariza at  168  matches
Royal Ivey at  169  matches
Tim Pickett at  170  matches
Jackson Vroman at  171  matches
Pape Sow at  172  matches
Christian Drejer at  173  matches
Romain Sato at  174  matches
Matt Freije at  175  matches
Rickey Paulding at  176  matches
Luis Flores at  177  matches
Marcus Douthit at  178  matches
Blake Stepp at  179  matches
Rashad Wright at  180  matches
Bernard Robinson at  181  matches
Ricky Minard at  182  matches
Emeka Okafor at  183  matches
Ben Gordon at  184  matches
Devin Harris at  185  matches
Josh Childress at  186  matches
Luol Deng at  187  matches
Andre Iguodala at  188  matches
Luke Jackson at  189  matches
David Harrison at  190  matches
Rafael Araújo at  191  matches
Kris Humphries at  192  matches
Kevin Martin at  193  matches
Tony Allen at  194  matches
Delonte West at  195  matches
Jameer Nelson at  196  matches
Kirk Snyder at  197  matches
Chris Taft at  198  matches
Travis Diener at  199  matches
Ronny Turiaf at  200  matches
Brandon Bass at  201  matches
Von Wafer at  202  matches
Alex Acker at  203  matches
Ryan Gomes at  204  matches
Robert Whaley at  205  does NOT match
Orien Greene at  206  matches
Dijon Thompson at  207  matches
Lawrence Roberts at  208  matches
Daniel Ewing at  209  matches
Bracey Wright at  210  matches
Salim Stoudamire at  211  matches
David Lee at  212  matches
Wayne Simien at  213  matches
Marvin Williams at  214  matches
Deron Williams at  215  matches
Chris Paul at  216  matches
Raymond Felton at  217  matches
Charlie Villanueva at  218  matches
Channing Frye at  219  matches
Ike Diogu at  220  matches
Sean May at  221  matches
Rashad McCants at  222  matches
Andrew Bogut at  223  matches
Joey Graham at  224  matches
Antoine Wright at  225  matches
Linas Kleiza at  226  matches
Jason Maxiell at  227  matches
Luther Head at  228  matches
Francisco García at  229  matches
Nate Robinson at  230  matches
Julius Hodge at  231  matches
Hakim Warrick at  232  matches
Danny Granger at  233  matches
Jarrett Jack at  234  matches
Denham Brown at  235  matches
Daniel Gibson at  236  matches
James Augustine at  237  matches
David Noel at  238  matches
Solomon Jones at  239  matches
Bobby Jones at  240  does NOT match
Craig Smith at  241  matches
P.J. Tucker at  242  matches
Paul Davis at  243  matches
Alexander Johnson at  244  matches
Guillermo Díaz at  245  matches
Paul Millsap at  246  matches
Leon Powe at  247  matches
Ryan Hollins at  248  matches
Hassan Adams at  249  matches
J.R. Pinnock at  250  matches
Steve Novak at  251  matches
Dee Brown at  252  does NOT match
James White at  253  matches
Will Blalock at  254  matches
Mardy Collins at  255  matches
LaMarcus Aldridge at  256  matches
Adam Morrison at  257  matches
Tyrus Thomas at  258  matches
Shelden Williams at  259  matches
Brandon Roy at  260  matches
Randy Foye at  261  matches
Rudy Gay at  262  matches
Patrick O'Bryant at  263  matches
J.J. Redick at  264  matches
Hilton Armstrong at  265  matches
Ronnie Brewer at  266  matches
Rodney Carney at  267  matches
Cedric Simmons at  268  matches

Maurice Ager at  269  matches
Jordan Farmar at  270  matches
Kyle Lowry at  271  matches
Josh Boone at  272  matches
Shannon Brown at  273  matches
Rajon Rondo at  274  matches
Renaldo Balkman at  275  matches
Quincy Douby at  276  matches
Shawne Williams at  277  matches
Marcus Williams at  278  matches
Adam Haluska at  279  matches
Derrick Byars at  280  matches
Chris Richard at  281  matches
Marcus Williams at  282  does NOT match
Josh McRoberts at  283  matches
Jermareo Davidson at  284  matches
Glen Davis at  285  matches
Nick Fazekas at  286  matches
Reyshawn Terry at  287  matches
Jared Jordan at  288  matches
Taurean Green at  289  matches
Dominic McGuire at  290  matches
Aaron Gray at  291  matches
JamesOn Curry at  292  matches
Demetris Nichols at  293  matches
Herbert Hill at  294  matches
Ramon Sessions at  295  matches
Sammy Mejia at  296  matches
D.J. Strawberry at  297  matches
Gabe Pruitt at  298  matches
Stéphane Lasme at  299  matches
Carl Landry at  300  matches
Alando Tucker at  301  matches
Greg Oden at  302  matches
Kevin Durant at  303  matches
Al Horford at  304  matches
Mike Conley at  305  matches
Jeff Green at  306  matches
Corey Brewer at  307  matches
Brandan Wright at  308  matches
Joakim Noah at  309  matches
Spencer Hawes at  310  matches
Acie Law at  311  matches
Thaddeus Young at  312  matches
Julian Wright at  313  matches
Al Thornton at  314  matches
Nick Young at  315  matches
Arron Afflalo at  316  matches
Aaron Brooks at  317  matches
Rodney Stuckey at  318  matches
Wilson Chandler at  319  matches
Morris Almond at  320  matches
Daequan Cook at  321  matches
Jason Smith at  322  matches
Javaris Crittenton at  323  matches
Sean Williams at  324  matches
Jared Dudley at  325  matches
Patrick Ewing at  326  matches
Sean Singletary at  327  matches
Chris Douglas-Roberts at  328  matches
Sonny Weems at  329  matches
Walter Sharpe at  330  matches
Luc Mbah a Moute at  331  matches
DeAndre Jordan at  332  matches
Mario Chalmers at  333  matches
Joey Dorsey at  334  matches
Kyle Weaver at  335  matches
Darnell Jackson at  336  matches
Henry Walker at  337  matches
Malik Hairston at  338  matches
Richard Hendrix at  339  matches
DeVon Hardin at  340  matches
Shan Foster at  341  matches
Maarty Leunen at  342  matches
Mike Taylor at  343  matches
Sasha Kaun at  344  matches
James Gist at  345  matches
Joe Crawford at  346  matches
Deron Washington at  347  matches
Trent Plaisted at  348  does NOT match
J.R. Giddens at  349  matches
Donté Greene at  350  matches
D.J. White at  351  matches
Derrick Rose at  352  matches
Michael Beasley at  353  matches
O.J. Mayo at  354  matches
Russell Westbrook at  355  matches
Kevin Love at  356  matches
Eric Gordon at  357  matches
D.J. Augustin at  358  matches
Brook Lopez at  359  matches
Jerryd Bayless at  360  matches
Jason Thompson at  361  matches
Brandon Rush at  362  matches
Joe Alexander at  363  matches
Robin Lopez at  364  matches
Anthony Randolph at  365  matches
George Hill at  366  matches
Kosta Koufos at  367  matches
Courtney Lee at  368  matches
Darrell Arthur at  369  matches
J.J. Hickson at  370  matches
JaVale McGee at  371  matches
Roy Hibbert at  372  matches
Marreese Speights at  373  matches
Ryan Anderson at  374  matches
Chase Budinger at  375  matches
Marcus Thornton at  376  matches
Patrick Beverley at  377  matches
Jodie Meeks at  378  matches
Derrick Brown at  379  matches
DeJuan Blair at  380  matches
Jon Brockman at  381  matches
Sam Young at  382  matches
Dante Cunningham at  383  matches
Nick Calathes at  384  matches
Danny Green at  385  matches
Jermaine Taylor at  386  matches
Taylor Griffin at  387  matches
Goran Suton at  388  matches
Jack McClinton at  389  matches
A.J. Price at  390  matches
Robert Vaden at  391  matches
Patty Mills at  392  matches
Ahmad Nivins at  393  matches
Lester Hudson at  394  matches
Chinemelu Elonu at  395  matches
Robert Dozier at  396  matches
Jeff Ayres at  397  matches
DaJuan Summers at  398  matches
Toney Douglas at  399  matches
Hasheem Thabeet at  400  matches
James Harden at  401  matches
Tyreke Evans at  402  matches
Jonny Flynn at  403  matches
Stephen Curry at  404  matches
Jordan Hill at  405  matches
DeMar DeRozan at  406  matches
Terrence Williams at  407  matches
Gerald Henderson at  408  does NOT match
Tyler Hansbrough at  409  matches
Earl Clark at  410  matches
Austin Daye at  411  matches
Blake Griffin at  412  matches
Jrue Holiday at  413  matches
Wayne Ellington at  414  matches
DeMarre Carroll at  415  matches
Taj Gibson at  416  matches
James Johnson at  417  does NOT match
Byron Mullens at  418  matches
Darren Collison at  419  matches
Eric Maynor at  420  matches
Jeff Teague at  421  matches
Ty Lawson at  422  matches
Jerome Jordan at  423  matches
Devin Ebanks at  424  matches
Da'Sean Butler at  425  matches
Jarvis Varnado at  426  matches
Lance Stephenson at  427  matches
Hassan Whiteside at  428  matches
Andy Rautins at  429  matches
Darington Hobson at  430  matches
Terrico White at  431  matches
Armon Johnson at  432  matches
Landry Fields at  433  matches
Gani Lawal at  434  matches
Solomon Alabi at  435  matches
Magnum Rolle at  436  matches
Luke Harangody at  437  matches
Willie Warren at  438  matches
Jeremy Evans at  439  matches
Hamady N'Diaye at  440  matches
Ryan Reid at  441  matches
Derrick Caracter at  442  matches
Stanley Robinson at  443  matches
Dwayne Collins at  444  matches
Dexter Pittman at  445  matches
Tiny Gallon at  446  matches
Lazar Hayward at  447  matches
Daniel Orton at  448  matches
Evan Turner at  449  matches
Derrick Favors at  450  matches
Wesley Johnson at  451  does NOT match
DeMarcus Cousins at  452  matches
Ekpe Udoh at  453  matches
Greg Monroe at  454  matches
Al-Farouq Aminu at  455  matches
Gordon Hayward at  456  matches
Paul George at  457  matches
Cole Aldrich at  458  matches
Xavier Henry at  459  matches
Ed Davis at  460  matches
Patrick Patterson at  461  matches
John Wall at  462  matches
Luke Babbitt at  463  matches
Larry Sanders at  464  matches
Greivis Vásquez at  465  matches
Jordan Crawford at  466  matches
Quincy Pondexter at  467  matches
Damion James at  468  matches
Trevor Booker at  469  matches
Dominique Jones at  470  matches
Craig Brackins at  471  matches
James Anderson at  472  does NOT match
Avery Bradley at  473  matches
Eric Bledsoe at  474  matches
Elliot Williams at  475  matches
Jon Leuer at  476  matches
Malcolm Lee at  477  matches
Darius Morris at  478  matches
Kyle Singler at  479  matches
Trey Thompkins at  480  matches
Jordan Williams at  481  matches
Tyler Honeycutt at  482  matches
Shelvin Mack at  483  matches
Charles Jenkins at  484  matches
Chandler Parsons at  485  matches
Josh Harrellson at  486  matches
Vernon Macklin at  487  matches
Travis Leslie at  488  matches
Keith Benson at  489  matches
Josh Selby at  490  matches
Lavoy Allen at  491  matches
Jon Diebler at  492  matches
DeAndre Liggins at  493  matches
E'Twaun Moore at  494  matches
Justin Harper at  495  matches
Andrew Goudelock at  496  matches
Isaiah Thomas at  497  matches
Cory Joseph at  498  matches
Kyrie Irving at  499  matches
Derrick Williams at  500  does NOT match
Tristan Thompson at  501  does NOT match
Brandon Knight at  502  matches
Kemba Walker at  503  matches
Jimmer Fredette at  504  matches
Klay Thompson at  505  matches
Alec Burks at  506  matches
Markieff Morris at  507  matches
Marcus Morris at  508  matches
Jimmy Butler at  509  matches
Nikola Vučević at  510  matches
Kawhi Leonard at  511  matches
Norris Cole at  512  matches
JaJuan Johnson at  513  matches
Jordan Hamilton at  514  does NOT match
Reggie Jackson at  515  matches
MarShon Brooks at  516  matches
Nolan Smith at  517  matches
Tobias Harris at  518  matches
Chris Singleton at  519  matches
Iman Shumpert at  520  matches
Kenneth Faried at  521  matches
Will Barton at  522  matches
Mike Scott at  523  does NOT match
Doron Lamb at  524  matches
Tyshawn Taylor at  525  matches
Khris Middleton at  526  matches
Quincy Acy at  527  matches
Orlando Johnson at  528  does NOT match
Draymond Green at  529  matches
Jae Crowder at  530  matches

Kim English at  531  matches
Quincy Miller at  532  matches
Justin Hamilton at  533  does NOT match
Kevin Murphy at  534  matches
Kyle O'Quinn at  535  matches
Kris Joseph at  536  matches
Darius Johnson-Odom at  537  matches
Robbie Hummel at  538  matches
Marcus Denmon at  539  matches
Darius Miller at  540  matches
Jeffery Taylor at  541  matches
Robert Sacre at  542  matches
Marquis Teague at  543  matches
Anthony Davis at  544  does NOT match
Michael Kidd-Gilchrist at  545  matches
Bradley Beal at  546  matches
Dion Waiters at  547  matches
Thomas Robinson at  548  matches
Damian Lillard at  549  matches
Harrison Barnes at  550  matches
Terrence Ross at  551  matches
Andre Drummond at  552  matches
Austin Rivers at  553  matches
Meyers Leonard at  554  matches
Jeremy Lamb at  555  matches
Kendall Marshall at  556  matches
John Henson at  557  matches
Festus Ezeli at  558  matches
Royce White at  559  matches
Perry Jones at  560  matches
Arnett Moultrie at  561  matches
Miles Plumlee at  562  matches
Maurice Harkless at  563  matches
Jared Cunningham at  564  does NOT match
John Jenkins at  565  matches
Tony Wroten at  566  matches
Jared Sullinger at  567  matches
Andrew Nicholson at  568  matches
Terrence Jones at  569  matches
Tyler Zeller at  570  matches
Fab Melo at  571  matches
Pierre Jackson at  572  matches
Jamaal Franklin at  573  matches
Grant Jerrett at  574  matches
Jeff Withey at  575  matches
Tony Mitchell at  576  matches
Ray McCallum at  577  does NOT match
Glen Rice at  578  does NOT match
Isaiah Canaan at  579  matches
Carrick Felix at  580  matches
Mike Muscala at  581  matches
Nate Wolters at  582  matches
Lorenzo Brown at  583  matches
Ryan Kelly at  584  does NOT match
Erik Murphy at  585  matches
James Ennis at  586  matches
Romero Osby at  587  matches
Colton Iverson at  588  matches
Arsalan Kazemi at  589  matches
Peyton Siva at  590  matches
Alex Oriakhi at  591  matches
Deshaun Thomas at  592  matches
Allen Crabbe at  593  matches
Erick Green at  594  matches
Archie Goodwin at  595  matches
Anthony Bennett at  596  matches
Victor Oladipo at  597  matches
Otto Porter at  598  matches
Cody Zeller at  599  matches
Alex Len at  600  matches
Nerlens Noel at  601  matches
Kentavious Caldwell-Pope at  602  matches
Trey Burke at  603  matches
CJ McCollum at  604  matches
Michael Carter-Williams at  605  matches
Steven Adams at  606  matches
Kelly Olynyk at  607  matches
Ben McLemore at  608  matches
Shabazz Muhammad at  609  matches
Andre Roberson at  610  matches
Reggie Bullock at  611  does NOT match
Tim Hardaway at  612  does NOT match
Mason Plumlee at  613  matches
Solomon Hill at  614  matches
Tony Snell at  615  matches
Shane Larkin at  616  matches
Gorgui Dieng at  617  matches
Markel Brown at  618  matches
Glenn Robinson at  619  does NOT match
Nick Johnson at  620  matches
Jerami Grant at  621  matches
Joe Harris at  622  does NOT match
DeAndre Daniels at  623  matches
Johnny O'Bryant at  624  matches
Jarnell Stokes at  625  matches
Cleanthony Early at  626  matches
Dwight Powell at  627  matches
Spencer Dinwiddie at  628  matches
Cory Jefferson at  629  matches
Xavier Thames at  630  matches
Russ Smith at  631  matches
Lamar Patterson at  632  matches
Cameron Bairstow at  633  matches
Alec Brown at  634  matches
Semaj Christon at  635  matches
Devyn Marble at  636  matches
Jordan McRae at  637  matches
K.J. McDaniels at  638  matches
Jordan Clarkson at  639  matches
Adreian Payne at  640  matches
Josh Huestis at  641  matches
Kyle Anderson at  642  matches
Andrew Wiggins at  643  matches
Jabari Parker at  644  matches
Joel Embiid at  645  matches
Aaron Gordon at  646  matches
Marcus Smart at  647  matches
Nik Stauskas at  648  matches
Noah Vonleh at  649  matches
Elfrid Payton at  650  matches
Doug McDermott at  651  matches
Zach LaVine at  652  matches
Julius Randle at  653  matches
T.J. Warren at  654  matches
P.J. Hairston at  655  matches
Shabazz Napier at  656  matches
Rodney Hood at  657  matches
C.J. Wilcox at  658  matches
Mitch McGary at  659  matches
Gary Harris at  660  matches
Tyler Ennis at  661  matches
James Young at  662  matches
Jordan Adams at  663  matches
Marcus Thornton at  664  does NOT match
Andrew Harrison at  665  matches
Joe Young at  666  does NOT match
Olivier Hanlan at  667  matches
Pat Connaughton at  668  matches
Josh Richardson at  669  does NOT match
Rakeem Christmas at  670  matches
Darrun Hilliard at  671  matches
Richaun Holmes at  672  matches
Anthony Brown at  673  does NOT match
Jordan Mickey at  674  matches
Norman Powell at  675  matches
Dakari Johnson at  676  matches
Aaron White at  677  does NOT match
Tyler Harvey at  678  matches
Sir'Dominic Pointer at  679  matches
Cady Lalanne at  680  matches
Branden Dawson at  681  matches
J.P. Tokoto at  682  matches
Montrezl Harrell at  683  matches
Kevon Looney at  684  matches
Chris McCullough at  685  matches
D'Angelo Russell at  686  matches
Jahlil Okafor at  687  matches
Willie Cauley-Stein at  688  matches
Stanley Johnson at  689  matches
Frank Kaminsky at  690  matches
Justise Winslow at  691  matches
Myles Turner at  692  matches
Trey Lyles at  693  matches
Devin Booker at  694  does NOT match
Cameron Payne at  695  matches
Karl-Anthony Towns at  696  matches
Terry Rozier at  697  matches
Kelly Oubre at  698  matches
R.J. Hunter at  699  matches
Larry Nance at  700  does NOT match
Tyus Jones at  701  matches
Rondae Hollis-Jefferson at  702  matches
Jarell Martin at  703  matches
Justin Anderson at  704  matches
Delon Wright at  705  matches
Jerian Grant at  706  matches
Sam Dekker at  707  matches
Rashad Vaughn at  708  matches
Bobby Portis at  709  matches
Diamond Stone at  710  matches
Isaiah Whitehead at  711  matches
Stephen Zimmerman at  712  matches
Cheick Diallo at  713  matches
Chinanu Onuaku at  714  matches
Malcolm Brogdon at  715  matches
Tyler Ulis at  716  matches
Patrick McCaw at  717  matches
Demetrius Jackson at  718  does NOT match
Joel Bolomboy at  719  matches
Jake Layman at  720  matches
Michael Gbinije at  721  matches
Georges Niang at  722  matches
Ben Bentil at  723  matches
Kay Felder at  724  matches
Marcus Paige at  725  matches
Daniel Hamilton at  726  matches
Abdel Nader at  727  matches
Isaiah Cousins at  728  matches
Tyrone Wallace at  729  matches
Deyonta Davis at  730  matches
A.J. Hammons at  731  matches
Dejounte Murray at  732  matches
Ben Simmons at  733  matches
Brandon Ingram at  734  matches
Jaylen Brown at  735  matches
Kris Dunn at  736  matches
Buddy Hield at  737  matches
Jamal Murray at  738  matches
Damian Jones at  739  matches
Jakob Pöltl at  740  matches
Domantas Sabonis at  741  matches
Taurean Waller-Prince at  742  matches
Denzel Valentine at  743  matches
Marquese Chriss at  744  matches
Skal Labissière at  745  matches
Pascal Siakam at  746  matches
Brice Johnson at  747  matches
DeAndre' Bembry at  748  matches
Caris LeVert at  749  matches
Malik Beasley at  750  matches
Henry Ellenson at  751  matches
Wade Baldwin at  752  matches
Malachi Richardson at  753  matches
Tyler Dorsey at  754  matches
Damyean Dotson at  755  does NOT match
Thomas Bryant at  756  matches
Dwayne Bacon at  757  matches
Wesley Iwundu at  758  matches
Jordan Bell at  759  matches
Semi Ojeleye at  760  matches
Ivan Rabb at  761  matches
Frank Mason at  762  matches
Jawun Evans at  763  matches
Sterling Brown at  764  does NOT match
Sindarius Thornwell at  765  matches
Monte Morris at  766  matches
Edmond Sumner at  767  matches
Kadeem Allen at  768  matches
Alec Peters at  769  matches
Nigel Williams-Goss at  770  matches
Jabari Bird at  771  matches
Jaron Blossomgame at  772  matches
Davon Reed at  773  matches
Ike Anigbogu at  774  matches
Frank Jackson at  775  does NOT match
Dillon Brooks at  776  matches
Derrick White at  777  matches
Markelle Fultz at  778  matches
Lonzo Ball at  779  matches
Jayson Tatum at  780  matches
Josh Jackson at  781  does NOT match
De'Aaron Fox at  782  matches
Jonathan Isaac at  783  matches
Lauri Markkanen at  784  matches
Josh Hart at  785  matches
Dennis Smith at  786  does NOT match
Zach Collins at  787  matches
Malik Monk at  788  matches

Luke Kennard at  789  matches
Donovan Mitchell at  790  matches
Bam Adebayo at  791  matches
Justin Patton at  792  matches
Justin Jackson at  793  does NOT match
Tony Bradley at  794  matches
Kyle Kuzma at  795  matches
Caleb Swanigan at  796  matches
Tyler Lydon at  797  matches
OG Anunoby at  798  matches
Harry Giles at  799  matches
John Collins at  800  matches
T.J. Leaf at  801  matches
D.J. Wilson at  802  matches
Jarrett Allen at  803  matches
Justin Jackson at  804  does NOT match
Bruce Brown at  805  does NOT match
Jarred Vanderbilt at  806  matches
Jevon Carter at  807  matches
Gary Trent at  808  does NOT match
Melvin Frazier at  809  matches
Devonte' Graham at  810  matches
Jalen Brunson at  811  matches
Khyri Thomas at  812  matches
Thomas Welsh at  813  matches
De'Anthony Melton at  814  matches
Sviatoslav Mykhailiuk at  815  matches
Keita Bates-Diop at  816  matches
Chimezie Metu at  817  matches
Alize Johnson at  818  matches
Tony Carr at  819  matches
Vince Edwards at  820  does NOT match
Devon Hall at  821  matches
Shake Milton at  822  matches
Ray Spalding at  823  matches
Kevin Hervey at  824  does NOT match
Hamidou Diallo at  825  matches
Omari Spellman at  826  matches
Troy Brown at  827  does NOT match
Jacob Evans at  828  matches
George King at  829  matches
Deandre Ayton at  830  matches
Marvin Bagley at  831  matches
Jaren Jackson at  832  does NOT match
Trae Young at  833  matches
Mohamed Bamba at  834  matches
Wendell Carter at  835  does NOT match
Collin Sexton at  836  matches
Kevin Knox at  837  matches
Mikal Bridges at  838  matches
Shai Gilgeous-Alexander at  839  matches
Miles Bridges at  840  matches
Jerome Robinson at  841  does NOT match
Michael Porter at  842  does NOT match
Zhaire Smith at  843  matches
Donte DiVincenzo at  844  matches
Lonnie Walker at  845  matches
Kevin Huerter at  846  matches
Josh Okogie at  847  matches
Grayson Allen at  848  matches
Chandler Hutchison at  849  matches
Aaron Holiday at  850  matches
Moritz Wagner at  851  matches
Landry Shamet at  852  matches
Robert Williams at  853  does NOT match
Kostas Antetokounmpo at  854  matches

In [82]:
len(wrong_players)

54

In [83]:
#check wrong players
select = clean_df["player"].isin(wrong_players)
wrong_df = clean_df[select]
wrong_df

,win shares,mins played (per game),player,games,year,rank,points(per game),ws/48,box +/-,value overall replacement player,team,college,years,mins played (total),points (total),class,player_id,college_id,word
16,-0.2,7.0,Ernest Brown,3,2000,52,1.0,-0.349,-24.7,-0.1,MIA,indian hills community college,1,21,3,Bust,ernest-brown-1,alabama,alabama
18,0.0,0.0,Cory Hightower,0,2000,54,0.0,0.000,0.0,0.0,SAS,indian hills community college,0,0,0,Bust,cory-hightower-1,presbyterian,presbyterian
60,0.0,9.8,Ken Johnson,16,2001,49,2.0,-0.002,-10.0,-0.3,MIA,ohio state,1,156,32,Bust,ken-johnson-1,michigan state,michigan
112,58.5,27.7,Mike Dunleavy,986,2002,3,11.2,0.103,0.3,15.9,GSW,duke,15,27340,11048,Player,mike-dunleavy-1,south carolina,south
162,0.0,0.0,David Young,0,2004,41,0.0,0.000,0.0,0.0,SEA,nc central,0,0,0,Bust,david-young-1,clemson,clemson
205,0.0,9.2,Robert Whaley,23,2005,51,2.1,0.004,-3.5,-0.1,UTA,walsh university,1,212,49,Bust,robert-whaley-1,cincinnati,cincinnati
240,1.1,9.5,Bobby Jones,91,2006,37,3.2,0.060,-3.5,-0.3,MIN,washington,2,867,288,Bust,bobby-jones-1,unc,unc
252,0.1,10.5,Dee Brown,68,2006,46,2.1,0.008,-4.1,-0.4,UTA,illinois,2,711,140,Bust,dee-brown-1,jacksonville,jacksonville
278,0.0,15.2,Marcus Williams,203,2006,22,5.6,-0.001,-4.6,-2.0,NJN,uconn,4,3095,1128,Player,marcus-williams-1,uconn,uconn
282,-0.1,3.0,Marcus Williams,13,2007,33,1.1,-0.084,-7.5,-0.1,SAS,arizona,2,39,14,Bust,marcus-williams-1,uconn,uconn
348,0.0,0.0,Trent Plaisted,0,2008,46,0.0,0.000,0.0,0.0,SEA,brigham young university hawaii,0,0,0,Bust,trent-plaisted-1,byu,byu
376,20.0,23.4,Marcus Thornton,483,2009,43,11.9,0.085,-0.8,3.4,MIA,lsu,8,11299,5750,Player,marcus-thornton-1,lsu,lsu
408,18.3,25.9,Gerald Henderson,535,2009,12,11.2,0.063,-2.2,-0.9,CHA,duke,8,13854,5987,Player,gerald-henderson-1,virginia commonwealth,virginia
417,23.9,20.6,James Johnson,619,2009,16,7.9,0.090,1.0,9.7,CHI,wake forest,11,12728,4883,Player,james-johnson-1,quinnipiac,quinnipiac
451,10.7,22.1,Wesley Johnson,609,2010,4,7.0,0.038,-1.2,2.9,MIN,syracuse,9,13472,4235,Player,wesley-johnson-1,charleston southern,charleston
472,3.3,17.5,James Anderson,247,2010,20,5.8,0.037,-2.8,-0.9,SAS,oklahoma state,5,4320,1422,Player,james-anderson-1,byu,byu
500,14.1,20.7,Derrick Williams,428,2011,2,8.9,0.076,-3.2,-2.6,MIN,arizona,7,8864,3809,Player,derrick-williams-1,birmingham southern,birmingham
501,42.5,28.1,Tristan Thompson,609,2011,4,9.4,0.119,-0.5,6.4,CLE,texas,9,17111,5720,Player,tristan-thompson-1,north texas,north
514,3.0,13.9,Jordan Hamilton,151,2011,26,5.9,0.069,-1.5,0.3,DAL,texas,5,2100,890,Player,jordan-hamilton-1,lehigh,lehigh
523,14.8,16.5,Mike Scott,485,2012,43,7.0,0.089,-2.5,-0.9,ATL,virginia,8,7989,3387,Player,mike-scott-1,eastern kentucky,eastern
528,1.4,10.8,Orlando Johnson,103,2012,36,3.2,0.059,-3.8,-0.5,SAC,uc santa barbara,3,1112,329,Player,orlando-johnson-1,california santa barbara,california
533,3.7,17.4,Justin Hamilton,113,2012,45,6.1,0.091,-0.3,0.8,PHI,lsu,3,1961,687,Player,justin-hamilton-1,florida,florida
544,79.5,34.6,Anthony Davis,506,2012,1,24.0,0.218,5.0,30.8,NOH,kentucky,8,17496,12128,Player,anthony-davis-1,austin peay,austin
564,0.2,7.2,Jared Cunningham,84,2012,24,2.3,0.017,-5.9,-0.6,CLE,oregon state,4,605,197,Player,jared-cunningham-1,cleveland state,cleveland
577,2.1,18.2,Ray McCallum,154,2013,36,6.0,0.035,-2.8,-0.6,SAC,detroit mercy,3,2808,920,Player,ray-mccallum-1,ball state,ball
578,-0.2,9.5,Glen Rice,16,2013,35,2.7,-0.065,-7.3,-0.2,PHI,georgia tech,2,152,43,Bust,glen-rice-1,michigan,michigan
584,3.0,19.2,Ryan Kelly,163,2013,48,6.0,0.046,-2.2,-0.2,LAL,duke,4,3125,981,Player,ryan-kelly-1,eastern illinois,eastern
611,10.1,19.6,Reggie Bullock,287,2013,25,7.0,0.087,-0.8,1.7,LAC,unc,7,5616,2002,Player,reggie-bullock-1,morgan state,morgan
612,17.6,26.1,Tim Hardaway,448,2013,24,13.2,0.072,-1.7,0.9,NYK,michigan,7,11715,5903,Player,tim-hardaway-1,texas el paso,texas
619,6.6,17.4,Glenn Robinson,265,2014,40,5.8,0.069,-2.4,-0.4,MIN,michigan,6,4603,1531,Player,glenn-robinson-1,purdue,purdue
622,12.9,23.9,Joe Harris,308,2014,33,10.0,0.084,-0.5,2.7,CLE,virginia,6,7366,3074,Player,joe-harris-1,central arkansas,central
664,0.0,0.0,Marcus Thornton,0,2015,45,0.0,0.000,0.0,0.0,BOS,college of william & mary,0,0,0,Bust,marcus-thornton-1,lsu,lsu
666,0.4,8.5,Joe Young,127,2015,43,3.4,0.016,-5.3,-0.9,IND,oregon,3,1077,429,Player,joe-young-1,canisius,canisius
669,17.7,30.8,Josh Richardson,297,2015,40,12.5,0.093,0.5,5.8,MIA,tennessee,5,9147,3703,Player,josh-richardson-1,north texas,north
673,-0.2,18.6,Anthony Brown,41,2015,34,3.9,-0.016,-4.8,-0.5,LAL,stanford,3,762,161,Player,anthony-brown-1,oklahoma state,oklahoma
677,0.0,0.0,Aaron White,0,2015,49,0.0,0.000,0.0,0.0,WAS,iowa,0,0,0,Bust,aaron-white-1,texas am corpus christi,texas
694,15.0,33.3,Devin Booker,317,2015,13,22.2,0.068,-0.6,3.7,PHO,kentucky,5,10568,7038,Player,devin-booker-1,clemson,clemson
700,19.0,23.1,Larry Nance,299,2015,27,7.9,0.132,2.1,7.2,LAL,wyoming,5,6900,2356,Player,larry-nance-1,clemson,clemson
718,0.2,5.2,Demetrius Jackson,26,2016,45,1.8,0.087,-2.2,0.0,BOS,notre dame,3,136,48,Player,demetrius-jackson-1,pacific,pacific
755,2.9,20.2,Damyean Dotson,159,2017,44,7.8,0.044,-2.6,-0.5,NYK,oregon,3,3211,1246,Player,damyean-dotson-1,houston,houston
764,3.6,15.9,Sterling Brown,145,2017,46,5.2,0.075,-2.6,-0.4,PHI,smu,3,2307,757,Player,sterling-brown-1,washington,washington
775,0.3,16.8,Frank Jackson,101,2017,31,7.2,0.009,-5.5,-1.5,CHO,duke,2,1695,725,Bust,frank-jackson-1,georgia southern,georgia
781,-2.4,25.2,Josh Jackson,158,2017,4,12.3,-0.029,-4.6,-2.6,PHO,kansas,3,3981,1938,Player,josh-jackson-1,south carolina state,south
786,-1.3,26.9,Dennis Smith,146,2017,9,13.0,-0.016,-2.7,-0.7,DAL,nc state,3,3927,1894,Player,dennis-smith-1,utah,utah
793,4.8,19.9,Justin Jackson,192,2017,15,6.7,0.060,-2.7,-0.7,POR,unc,3,3818,1289,Player,justin-jackson-1,tennessee,tennessee
804,0.0,0.0,Justin Jackson,0,2018,43,0.0,0.000,0.0,0.0,DEN,maryland,0,0,0,Bust,justin-jackson-1,tennessee,tennessee
805,3.2,22.4,Bruce Brown,121,2018,42,6.0,0.056,-1.3,0.5,DET,miami (fl),2,2714,724,Player,bruce-brown-1,hampton,hampton
808,0.7,13.7,Gary Trent,51,2018,37,4.9,0.048,-2.8,-0.1,SAC,duke,2,697,252,Player,gary-trent-1,ohio,ohio
820,0.0,8.0,Vince Edwards,2,2018,52,1.5,-0.014,-9.8,0.0,UTA,purdue,1,16,3,Bust,vince-edwards-1,western kentucky,western
824,-0.1,2.2,Kevin Hervey,6,2018,57,0.0,-0.357,-17.0,0.0,OKC,ut arlington,1,13,0,Bust,kevin-hervey-1,texas arlington,texas
827,2.3,19.6,Troy Brown,96,2018,15,7.5,0.058,-2.1,-0.1,WAS,oregon,2,1884,716,Player,troy-brown-1,providence,providence
832,6.0,27.0,Jaren Jackson,105,2018,4,15.5,0.102,0.5,1.8,MEM,michigan state,2,2833,1628,Player,jaren-jackson-1,georgetown,georgetown
835,5.1,27.4,Wendell Carter,81,2018,7,11.0,0.111,-0.3,0.9,CHI,duke,2,2219,888,Player,wendell-carter-1,texas,texas
841,0.0,10.8,Jerome Robinson,73,2018,13,3.2,0.002,-4.4,-0.5,LAC,boston college,2,792,234,Player,jerome-robinson-1,bradley,bradley
842,1.9,14.3,Michael Porter,39,2018,14,8.0,0.168,0.6,0.4,DEN,missouri,1,556,311,Bust,michael-porter-1,kentucky,kentucky
853,2.3,10.8,Robert Williams,51,2018,27,3.0,0.199,5.0,1.0,BOS,texas a&m,2,552,155,Player,robert-williams-1,florida atlantic,florida

In [84]:
#create list of players to remove
remove2 = ['ernest-brown-1', 'cory-hightower-1', ]

In [85]:
#create list of player ids to update
replace = [('ken-johnson-1', 'ken-johnson-2'), ('mike-dunleavy-1', 'mike-dunleavy-2'), ('david-young-1','dave-young-1'),
          ('bobby-jones-1', 'bobby-jones-2'), ('dee-brown-1', 'dee-brown-2'), ('gerald-henderson-1', 'gerald-henderson-2'),
          ('james-johnson-1', 'james-johnson-2'), ('wesley-johnson-1', 'wes-johnson-1'),
          ('james-anderson-1', 'james-anderson-3'), ('derrick-williams-1', 'derrick-williams-2'),
          ('tristan-thompson-1','tristan-thompson-2'), ('jordan-hamilton-1', 'jordan-hamilton-2'),
          ('mike-scott-1', 'mike-scott-4'), ('justin-hamilton-1', 'justin-hamilton-2'), ('anthony-davis-1', 'anthony-davis-5'),
          ('jared-cunningham-1', 'jared-cunningham-2'), ('ray-mccallum-1', 'ray-mccallum-2'), ('glen-rice-1', 'glen-rice-jr-1'),
          ('ryan-kelly-1', 'ryan-kelly-3'), ('reggie-bullock-1', 'reggie-bullock-2'), ('tim-hardaway-1', 'tim-hardaway-jr-1'),
          ('glenn-robinson-1', 'glenn-robinson-2'),('joe-harris-1', 'joe-harris--1'),
          ('joe-young-1', 'joseph-young-1'),
          ('josh-richardson-1', 'josh-richardson-2'), ('anthony-brown-1', 'anthony-brown-5'), ('aaron-white-1','aaron-white-3'),
          ('devin-booker-1', 'devin-booker-2'), ('larry-nance-1', 'larry-nance-2'),
          ('demetrius-jackson-1', 'demetrius-jackson-2'), ('sterling-brown-1', 'sterling-brown-2'),
          ('frank-jackson-1', 'frank-jackson-2'), ('josh-jackson-1', 'josh-jackson-2'), ('dennis-smith-1', 'dennis-smithjr-1'),
          ('justin-jackson-1', 'justin-jackson-4'), ('justin-jackson-1', 'justin-jackson-5'),
          ('bruce-brown-1', 'bruce-brown-2'), ('gary-trent-1', 'gary-trentjr-1'), ('vince-edwards-1', 'vince-edwards-2'),
          ('troy-brown-1', 'troy-brown-5'), ('jaren-jackson-1', 'jaren-jacksonjr-1'), 
          ('wendell-carter-1', 'wendell-carterjr-1'),('jerome-robinson-1', 'jerome-robinson-2'), ('michael-porter-1', 'michael-porterjr-1'),
          ('robert-williams-1', 'robert-williams-3')
          ]

In [86]:
#update player ids in clean_df
for player in tqdm_notebook(replace):
    clean_df.replace(to_replace = player[0],
                    value = player[1], inplace = True)

HBox(children=(IntProgress(value=0, max=45), HTML(value='')))

In [87]:
#input justin jackson 5, marcus williams 2 and marcus thornton 3
clean_df.loc[282, 'player_id'] = 'marcus-williams-2'
clean_df.loc[664, 'player_id'] = 'marcus-thornton-3'
clean_df.loc[804, 'player_id'] = 'justin-jackson-5'

In [88]:
#check replacements
clean_df.iloc[[278, 282, 376, 664, 793, 804]]

,win shares,mins played (per game),player,games,year,rank,points(per game),ws/48,box +/-,value overall replacement player,team,college,years,mins played (total),points (total),class,player_id,college_id,word
278,0.0,15.2,Marcus Williams,203,2006,22,5.6,-0.001,-4.6,-2.0,NJN,uconn,4,3095,1128,Player,marcus-williams-1,uconn,uconn
282,-0.1,3.0,Marcus Williams,13,2007,33,1.1,-0.084,-7.5,-0.1,SAS,arizona,2,39,14,Bust,marcus-williams-2,uconn,uconn
376,20.0,23.4,Marcus Thornton,483,2009,43,11.9,0.085,-0.8,3.4,MIA,lsu,8,11299,5750,Player,marcus-thornton-1,lsu,lsu
664,0.0,0.0,Marcus Thornton,0,2015,45,0.0,0.000,0.0,0.0,BOS,college of william & mary,0,0,0,Bust,marcus-thornton-3,lsu,lsu
793,4.8,19.9,Justin Jackson,192,2017,15,6.7,0.060,-2.7,-0.7,POR,unc,3,3818,1289,Player,justin-jackson-4,tennessee,tennessee
804,0.0,0.0,Justin Jackson,0,2018,43,0.0,0.000,0.0,0.0,DEN,maryland,0,0,0,Bust,justin-jackson-5,tennessee,tennessee

In [89]:
#remove players not in NCAA
clean_df = clean_df[~clean_df['player_id'].isin(remove2)]

In [90]:
#re-index clean_df
clean_df.reset_index(drop=True, inplace=True)

In [91]:
len(clean_df)

853

In [92]:
#re-run college_correct function to assign correct college_id's to replaced players
college_correct(clean_df["player_id"])

HBox(children=(IntProgress(value=0, max=853), HTML(value='')))

In [198]:
#assign to clean_df
clean_df['college_id'] = college_list

In [202]:
clean_df.iloc[[276, 280, 374, 662, 791, 802]]

,win shares,mins played (per game),player,games,year,rank,points(per game),ws/48,box +/-,value overall replacement player,team,college,years,mins played (total),points (total),class,player_id,college_id,word
276,0.0,15.2,Marcus Williams,203,2006,22,5.6,-0.001,-4.6,-2.0,NJN,uconn,4,3095,1128,Player,marcus-williams-1,connecticut,uconn
280,-0.1,3.0,Marcus Williams,13,2007,33,1.1,-0.084,-7.5,-0.1,SAS,arizona,2,39,14,Bust,marcus-williams-2,arizona,uconn
374,20.0,23.4,Marcus Thornton,483,2009,43,11.9,0.085,-0.8,3.4,MIA,lsu,8,11299,5750,Player,marcus-thornton-1,louisiana state,lsu
662,0.0,0.0,Marcus Thornton,0,2015,45,0.0,0.000,0.0,0.0,BOS,college of william & mary,0,0,0,Bust,marcus-thornton-3,william mary,lsu
791,4.8,19.9,Justin Jackson,192,2017,15,6.7,0.060,-2.7,-0.7,POR,unc,3,3818,1289,Player,justin-jackson-4,north carolina,tennessee
802,0.0,0.0,Justin Jackson,0,2018,43,0.0,0.000,0.0,0.0,DEN,maryland,0,0,0,Bust,justin-jackson-5,maryland,tennessee

In [40]:
#create  list to hold dictionary data and list for desired ncaa stats
ncaa_data = []

stats = ['player_id','name','assist_percentage', 'assists', 'block_percentage','blocks','effective_field_goal_percentage',
        'field_goal_percentage', 'free_throw_attempt_rate', 'free_throw_percentage', 'minutes_played',
        'points', 'steal_percentage', 'steals', 'three_point_percentage', 'three_pointers', 'total_rebound_percentage',
         'total_rebounds', 'true_shooting_percentage', 'turnover_percentage','turnovers', 'usage_percentage', 'box_plus_minus', 'games_played', 'height', 'win_shares_per_40_minutes']

In [204]:
#insert player stats into ncaa_data
ncaa_data = []
for player in tqdm_notebook(clean_df["player_id"]):
    ncaa = Player(player)
    player_list = []
    player_dict = {}
    for stat in stats:
        try:
            var = eval(f'ncaa.{stat}')
            player_list.append((stat, var))
        except:
            var = np.nan
            print(player,stat, var)
            player_list.append((stat, var))
    player_dict.update(player_list)
    ncaa_data.append(player_dict)

HBox(children=(IntProgress(value=0, max=853), HTML(value='')))

In [241]:
#convert ncaa_data to df
ncaa_df = pd.DataFrame(ncaa_data)
ncaa_df.columns

Index(['assist_percentage', 'assists', 'block_percentage', 'blocks',
       'box_plus_minus', 'effective_field_goal_percentage',
       'field_goal_percentage', 'free_throw_attempt_rate',
       'free_throw_percentage', 'games_played', 'height', 'minutes_played',
       'name', 'player_id', 'points', 'steal_percentage', 'steals',
       'three_point_percentage', 'three_pointers', 'total_rebound_percentage',
       'total_rebounds', 'true_shooting_percentage', 'turnover_percentage',
       'turnovers', 'usage_percentage', 'win_shares_per_40_minutes'],
      dtype='object')

(ACC, Big
12, Big Ten, SEC, Pac 12, and Big East)

ACC = louisville, duke, florida state, virginia, syracuse, nc state, notre dame, pittsburgh, boston college, virginia tech,
clemson, georgia tech, unc, miami, wake forest

Big 12= baylor, kansas, west virginia, texas tech, oklahoma, texas, tcu, iowa state, kansas state, oklahoma state

SEC = auburn, kentucky, lsu, mississippi state, florida, south carolina, tennessee, alabama, texas a&m, arkansas, ole miss, 
missouri, georgia, vanderbilt

pac12 = colorado, oregon, arizona, arizona state, usc, ucla, stanford, utah, washington state, california, oregon state, washington

big east = seton hall, creighton, villanova, marquette, butler, providence, xavier, georgetown, st johns, depaul

big 10 = maryland, penn state, illinois, iowa, rutgers, michigan state, purdue, wisc, minnesota, ohio state, indiana, michigan, nebraska, northwestern

In [ ]:
schools = clean_df["college_id"].unique()
schools = schools.tolist()
schools

In [249]:
 big_school  = [
 'indiana',
 'connecticut',
 'arizona state',
 'oklahoma',
 'st johns ny',
 'utah',
 'duke',
 'ohio state',
 'vanderbilt',
 'louisiana state',
 'syracuse',
 'auburn',
 'colorado',
 'purdue',
 'stanford',
 'iowa state',
 'florida',
 'texas',
 'michigan',
 'missouri',
 'ucla',
 'michigan state',
 'minnesota',
 'georgia tech',
 'kentucky',
 'oklahoma state',
 'arizona',
 'southern california',
 'maryland',
 'clemson',
 'kansas',
 'oregon',
 'georgetown',
 'california',
 'seton hall',
 'arkansas',
 'notre dame',
 'alabama',
 'north carolina',
 'villanova',
 'illinois',
 'tennessee',
 'wake forest',
 'virginia',
 'miami fl',
 'mississippi state',
 'depaul'
 'creighton',
 'marquette',
 'georgia',
 'louisville',
 'xavier',
 'boston college',
 'mississippi',
 'texas tech',
 'florida state',
 'providence',
 'wisconsin',
 'pittsburgh',
 'texas am',
 'washington',
 'north carolina state',
 'south carolina',
 'rutgers',
 'iowa',
 'washington state',
 'kansas state',
 'virginia tech',
 'west virginia',
 'baylor',
 'butler',
 'oregon state',
 'penn state',
 'boise state']

In [251]:
school_code =[]
for school in clean_df['college_id']:
    if school in big_school:
        school_num = 1
    else:
        school_num = 0
    school_code.append(school_num)

In [253]:
len(school_code)

853

In [254]:
ncaa_df['big_conf_flag'] = school_

In [255]:
#create new dataframe which re-orders columns and drops those with a lot of NaN's
ncaa2_df = ncaa_df[["player_id", "name",  "assists", "blocks", "effective_field_goal_percentage",
                    "field_goal_percentage", "free_throw_attempt_rate","free_throw_percentage", "games_played", "height",
                    "minutes_played", "points", "big_conf_flag", "steals", "three_point_percentage", "three_pointers", "total_rebounds",
                    "true_shooting_percentage", "turnover_percentage", "turnovers", "win_shares_per_40_minutes" ]]

In [207]:
ncaa2_df.fillna(ncaa2_df.mean(), inplace=True)

In [50]:
#stats per 40  list
per_40 = [ "assists", "blocks", "points", "steals", "three_pointers", "total_rebounds", "turnovers"]

In [51]:
#add suffix for column titles
suff = "_per_40"
for_40 = [stat+suff for stat in per_40]

In [52]:
#zip two lists together
combined_40 = list(zip(per_40,for_40))

In [211]:
#check combined list
combined_40

[('assists', 'assists_per_40'),
 ('blocks', 'blocks_per_40'),
 ('points', 'points_per_40'),
 ('steals', 'steals_per_40'),
 ('three_pointers', 'three_pointers_per_40'),
 ('total_rebounds', 'total_rebounds_per_40'),
 ('turnovers', 'turnovers_per_40')]

In [212]:
#run for loop to create per_40 columns
for stat in combined_40:
    ncaa2_df[stat[1]] = (ncaa2_df[stat[0]] /ncaa2_df["minutes_played"])*40

In [213]:
#fill nan's with column mean
ncaa2_df.fillna(ncaa2_df.mean(), inplace =True)

In [214]:
#convert height to inches

height = [ guy.split('-') for guy in ncaa2_df["height"]]
inches = [(int(dim[0])*12) + int(dim[1]) for dim in height]

In [215]:
ncaa2_df['height'] = inches

In [216]:
#check for duplicates
print(len(ncaa2_df))
duplicate_id = ncaa2_df.duplicated(subset=['player_id'])
if duplicate_id.any():
    print(ncaa2_df.loc[duplicate_id])

853

In [30]:
def check_dupes(df):
    duplicate_id = df.duplicated(subset=['player_id'])
    if duplicate_id.any():
        print(df.loc[duplicate_id])

In [237]:
check_dupes(combined_df)

In [217]:
combined_df = pd.merge(clean_df, ncaa2_df, on='player_id', how='inner')
len(combined_df)

853

In [222]:
ncaa2_df.head()

,player_id,name,assists,blocks,effective_field_goal_percentage,field_goal_percentage,free_throw_attempt_rate,free_throw_percentage,games_played,height,minutes_played,points,steals,three_point_percentage,three_pointers,total_rebounds,true_shooting_percentage,turnover_percentage,turnovers,win_shares_per_40_minutes,assists_per_40,blocks_per_40,points_per_40,steals_per_40,three_pointers_per_40,total_rebounds_per_40,turnovers_per_40,college,class
0,kenyon-martin-1,Kenyon Martin,142,292,0.587,0.586,0.494,0.581,116,81,2042.0,1279,124,0.222000,2.0,869,0.592,14.3,139.0,0.346,2.781587,5.719882,25.053869,2.428991,0.039177,17.022527,2.722821,cincinnati,Player
1,aj-guyton-1,A.J. Guyton,403,52,0.541,0.455,0.249,0.790,128,73,3260.0,2100,129,0.414000,283.0,429,0.572,13.6,218.0,0.145,4.944785,0.638037,25.766871,1.582822,3.472393,5.263804,2.674847,indiana,Player
2,jake-voskuhl-1,Jake Voskuhl,124,193,0.542,0.542,0.555,0.656,138,83,2184.0,863,86,0.329162,0.0,880,0.573,23.0,160.0,0.237,2.271062,3.534799,15.805861,1.575092,0.000000,16.117216,2.930403,uconn,Player
3,khalid-el-amin-1,Khalid El-Amin,479,10,0.486,0.416,0.257,0.822,108,70,2149.0,1650,186,0.355000,195.0,319,0.527,15.6,188.0,0.158,8.915775,0.186133,30.711959,3.462075,3.629595,5.937645,3.499302,uconn,Bust
4,mike-smith-1,Mike Smith,147,42,0.507,0.428,0.357,0.769,55,80,1938.0,1062,90,0.318000,130.0,449,0.551,20.0,241.0,0.165,3.034056,0.866873,21.919505,1.857585,2.683179,9.267286,4.974200,university of louisiana at monroe,Bust

In [227]:
#add class and college columns to NCAA
college = clean_df["college"]
classes = clean_df["class"]

ncaa2_df.insert(loc=2, column='class', value=classes)
ncaa2_df.insert(loc=3, column='college', value=college)

In [57]:
#export NCAA data to csv
ncaa2_df.to_csv("NCAA_data.csv",index = False, header = True)

NameError: name 'ncaa2_df' is not defined

In [232]:
#export NBA data to csv
clean_df.to_csv("NBA_cleaned.csv",index = False, header = True)

In [233]:
#export combined data to csv
combined_df.to_csv("combined_data.csv",index = False, header = True)

In [ ]:
id_df = ncaa2_df[["player_id", "name"]]
id_df.rename(columns = {'name':'Player'}, inplace = True)

In [4]:
#pull in 2020 NBA Draft prospects
df_2020 = pd.read_csv("2020_draft_data/2020_prospects.csv")

In [5]:
# Get rows where year == intl.
intl = df_2020[ df_2020['Year'] == "Intl." ].index

# Delete these row indexes from dataFrame
df_2020.drop(intl, inplace=True)

In [6]:
#re-index df
df_2020.reset_index(drop=True, inplace=True)
df_2020.head()

   Rank             Name      School Year
0     1  Anthony Edwards     Georgia  Fr.
1     2    James Wiseman     Memphis  Fr.
2     4       Obi Toppin      Dayton  So.
3     5  Jaden McDaniels  Washington  Fr.
4     6     Nico Mannion     Arizona  Fr.

In [9]:
make_ids(df_2020['Name'])

['anthony-edwards-1',
 'james-wiseman-1',
 'obi-toppin-1',
 'jaden-mcdaniels-1',
 'nico-mannion-1',
 'daniel-oturu-1',
 'cole-anthony-1',
 'vernon-carey-1',
 'tyrese-haliburton-1',
 'onyeka-okongwu-1']

In [12]:
#see which players are generating errors when trying to call college data 
for player in tqdm_notebook(makes_ids):
    try:
        college = Player(player)
    except:
        print(f'Error for {player} in index # {makes_ids.index(player)}')

HBox(children=(IntProgress(value=0, max=52), HTML(value='')))

Error for obi-toppin-1 in index # 2
Error for vernon-carey-1 in index # 7
Error for josh-green-1 in index # 11
Error for jay-scrubb-1 in index # 28
Error for nick-richards-1 in index # 31
Error for derrick-alston-jr-1 in index # 42
Error for cam-mack-1 in index # 51

obadiah-toppin-1
vernon-careyjr-1
josh-green-2
remove jay scrubb
nick-richards-2
derrick-alston-2
cameron-mack-1

In [13]:
replace_2020 = [('obadiah-toppin-1', 2), ('vernon-careyjr-1', 7), ('josh-green-2', 11), ('nick-richards-2', 31), 
          ('derrick-alston-2', 42),('cameron-mack-1', 51)]

In [15]:
#replace incorrect id's
for player in replace_2020:
    makes_ids[player[1]] = player[0]

In [16]:
#remove players not in NCAA
df_2020 = df_2020.drop([28])
makes_ids.pop(28)

'jay-scrubb-1'

In [17]:

#re-index clean_df
df_2020.reset_index(drop=True, inplace=True)

In [18]:
df_2020['Player_id'] = makes_ids

In [19]:
#define function to get player_id colleges
def college_try(dataframe):
    global college_list
    college_list = []
    for index, row in tqdm_notebook(dataframe.iterrows()):
        try:
            college =  Player(row["Player_id"]).team_abbreviation
            college_list.append(college)
        except:
            print('Error for', row["Player_id"], 'at index #', index)

In [20]:
college_try(df_2020)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

Error for reggie-perry-1 at index # 22

In [21]:
#insert correct value for player #22
makes_ids[22] = 'reggie-perry-2'

In [22]:
df_2020['Player_id'] = makes_ids

In [23]:
#run college_try again
college_try(df_2020)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [24]:
#replace hyphenated shcool names
college_list = [school.replace("-", " ") for school in college_list]

In [25]:
#add to  df
df_2020['College_id'] = college_list

In [28]:
college_abv(df_2020)

In [33]:
#create word column used for college matching
word = [words.split()[0] for words in df_2020['College_id']]
df_2020['word'] = word

In [34]:
#convert School column to lower case
df_2020['School'] = df_2020['School'].str.lower()

df_2020.head()

,Rank,Name,School,Year,Player_id,College_id,word
0,1,Anthony Edwards,georgia,Fr.,anthony-edwards-1,missouri state,missouri
1,2,James Wiseman,memphis,Fr.,james-wiseman-1,memphis,memphis
2,4,Obi Toppin,dayton,So.,obadiah-toppin-1,dayton,dayton
3,5,Jaden McDaniels,washington,Fr.,jaden-mcdaniels-1,washington,washington
4,6,Nico Mannion,arizona,Fr.,nico-mannion-1,arizona,arizona

In [35]:
wrong_players = []
for index, row in df_2020.iterrows():
    if search(row["word"], row["School"]):
        print(row["Name"], "at ", index, " matches")
    else:
        print(row["Name"], "at ", index, " does NOT match")
        wrong_players.append((row["Name"], index))

Anthony Edwards at  0  does NOT match
James Wiseman at  1  matches
Obi Toppin at  2  matches
Jaden McDaniels at  3  matches
Nico Mannion at  4  matches
Daniel Oturu at  5  matches
Cole Anthony at  6  matches
Vernon Carey at  7  matches
Tyrese Haliburton at  8  matches
Onyeka Okongwu at  9  does NOT match
Isaac Okoro at  10  matches
Josh Green at  11  matches
Zeke Nnaji at  12  matches
Isaiah Stewart at  13  does NOT match
Ashton Hagans at  14  matches
Precious Achiuwa at  15  matches
Aaron Nesmith at  16  matches
Tyrese Maxey at  17  matches
Jordan Nwora at  18  matches
Ochai Agbaji at  19  matches
Paul Reed at  20  does NOT match
Jalen Smith at  21  matches
Reggie Perry at  22  matches
Devon Dotson at  23  matches
Udoka Azubuike at  24  matches
CJ Elleby at  25  matches
Landers Nolley at  26  does NOT match
Devin Vassell at  27  matches
Cassius Stanley at  28  matches
Saddiq Bey at  29  matches
Nick Richards at  30  matches
Elijah Hughes at  31  matches
Tyler Bey at  32  matches
Chris Smith at  33  does NOT match
Omer Yurtseven at  34  matches
Markus Howard at  35  matches
Malachi Flynn at  36  matches
Austin Wiley at  37  matches
Payton Pritchard at  38  matches
Steven Enoch at  39  matches
Mamadi Diakite at  40  matches
Derrick Alston Jr. at  41  matches
Malik Fitts at  42  does NOT match
Tre Jones at  43  matches
Cassius Winston at  44  matches
Lamar Stevens at  45  matches
Killian Tillie at  46  matches
Mustapha Heron at  47  matches
Myles Powell at  48  matches
Desmond Bane at  49  does NOT match
Cam Mack at  50  matches

In [36]:
wrong_players

[('Anthony Edwards', 0),
 ('Onyeka Okongwu', 9),
 ('Isaiah Stewart', 13),
 ('Paul Reed', 20),
 ('Landers Nolley', 26),
 ('Chris Smith', 33),
 ('Malik Fitts', 42),
 ('Desmond Bane', 49)]

### players to replace
anthony-edwards-2
isaiah-stewart-2
paul-reed-5
landers-nolleyii-1
chris-smith-19

In [37]:
update_2020 = [('anthony-edwards-1', 'anthony-edwards-2'), ('isaiah-stewart-1','isaiah-stewart-2'),
               ('paul-reed-1', 'paul-reed-5'),('landers-nolley-1', 'landers-nolleyii-1'),
               ('chris-smith-19', 'chris-smith-19')]

In [38]:
#update player ids 
for player in update_2020:
    df_2020.replace(to_replace = player[0],
                    value = player[1], inplace = True)

In [41]:
#insert player stats into ncaa_data
ncaa_data = []
for player in tqdm_notebook(df_2020["Player_id"]):
    ncaa = Player(player)
    player_list = []
    player_dict = {}
    for stat in stats:
        try:
            var = eval(f'ncaa.{stat}')
            player_list.append((stat, var))
        except:
            var = np.nan
            print(player,stat, var)
            player_list.append((stat, var))
    player_dict.update(player_list)
    ncaa_data.append(player_dict)

HBox(children=(IntProgress(value=0, max=51), HTML(value='')))

In [43]:
#convert ncaa_data to df
draft_df = pd.DataFrame(ncaa_data)

In [46]:
#add college, rank and year to ncaa_df
draft_df["college"] = df_2020["College_id"]
draft_df["rank"] = df_2020["Rank"]
draft_df["year"] = df_2020["Year"]

In [47]:
#define new df with desired columnes
draft2020_df = draft_df[["rank", "player_id", "name", "college", "year", "assists", "blocks", "effective_field_goal_percentage",
                    "field_goal_percentage", "free_throw_attempt_rate","free_throw_percentage", "games_played", "height",
                    "minutes_played", "points","steals", "three_point_percentage", "three_pointers", "total_rebounds",
                    "true_shooting_percentage", "turnover_percentage", "turnovers", "win_shares_per_40_minutes" ]]

In [48]:
#fill_na's
draft2020_df.fillna(draft2020_df.mean(), inplace=True)

In [53]:
#add per 40 stats
for stat in combined_40:
    draft2020_df[stat[1]] = (draft2020_df[stat[0]] /draft2020_df["minutes_played"])*40

In [54]:
#calculate height in inches
height = [ guy.split('-') for guy in draft2020_df["height"]]
inches = [(int(dim[0])*12) + int(dim[1]) for dim in height]
draft2020_df['height'] = inches

In [55]:
#export to csv
draft2020_df.to_csv("Draft_data.csv",index = False, header = True)