In [36]:
import pandas as pd
import numpy as np
from sportsreference.ncaab.roster import Player

In [37]:
from sportsreference.ncaab.roster import Player

In [38]:
pd.set_option('display.max_columns', 999)

In [39]:
# test string replacement
dude = "R.J. Barrett"
suffix = "-1"
dude_id = dude.replace(".", "").replace(" ", "-").lower()+suffix
dude_id

'rj-barrett-1'

In [40]:
# create function to get player stats.  Ignores players without a column of data
def getStats(player):
    suffix = "-1"
    playerID = player.replace(".", "").replace(" ", "-").lower()+suffix
    collegeStats = Player(playerID)
    try:
        df = collegeStats.dataframe.loc["Career"].set_index("player_id")
    except (AttributeError):
        pass
    return df

In [41]:
# Initial DF containing a player that works with the getStats function and has NaN for fields without values
testDF = getStats("R.J. Barrett").replace(r'^\s*$', np.nan, regex=True)
testDF.append(pd.Series(name='IndexName'))

,assist_percentage,assists,block_percentage,blocks,box_plus_minus,conference,defensive_box_plus_minus,defensive_rebound_percentage,defensive_rebounds,defensive_win_shares,effective_field_goal_percentage,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempt_rate,free_throw_attempts,free_throw_percentage,free_throws,games_played,games_started,height,minutes_played,offensive_box_plus_minus,offensive_rebound_percentage,offensive_rebounds,offensive_win_shares,personal_fouls,player_efficiency_rating,points,points_produced,position,steal_percentage,steals,team_abbreviation,three_point_attempt_rate,three_point_attempts,three_point_percentage,three_pointers,total_rebound_percentage,total_rebounds,true_shooting_percentage,turnover_percentage,turnovers,two_point_attempts,two_point_percentage,two_pointers,usage_percentage,weight,win_shares,win_shares_per_40_minutes
player_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
rj-barrett-1,23.5,164.0,1.2,16.0,7.7,NaN,2.4,17.2,229.0,2.7,0.506,702.0,0.454,319.0,0.319,224.0,0.665,149.0,38.0,38.0,6-7,1341.0,5.3,4.8,59.0,3.8,70.0,23.3,860.0,834.0,Forward,1.4,34.0,duke,0.338,237.0,0.308,73.0,11.2,288.0,0.532,13.2,123.0,465.0,0.529,246.0,32.2,202.0,6.5,0.194
IndexName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# list of players for testing
playerList = ["Jack White", "Tre Jones", "Joey Baker"]

In [33]:
# create function to get player stats and append them to the dataframe above.  Ignores players without a column of data
def getStatsList(playerList, testDF):
    suffix = "-1"
    for player in playerList:
        playerID = player.replace(".", "").replace(" ", "-").lower()+suffix
        collegeStats = Player(playerID)
        testDF = testDF.append(pd.Series(name=playerID))
#         try:
#             df= collegeStats.dataframe.loc["Career"].set_index("player_id")
#         except (AttributeError):
#             pass
    return testDF

In [34]:
getStatsList(playerList, testDF)

,assist_percentage,assists,block_percentage,blocks,box_plus_minus,conference,defensive_box_plus_minus,defensive_rebound_percentage,defensive_rebounds,defensive_win_shares,effective_field_goal_percentage,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempt_rate,free_throw_attempts,free_throw_percentage,free_throws,games_played,games_started,height,minutes_played,offensive_box_plus_minus,offensive_rebound_percentage,offensive_rebounds,offensive_win_shares,personal_fouls,player_efficiency_rating,points,points_produced,position,steal_percentage,steals,team_abbreviation,three_point_attempt_rate,three_point_attempts,three_point_percentage,three_pointers,total_rebound_percentage,total_rebounds,true_shooting_percentage,turnover_percentage,turnovers,two_point_attempts,two_point_percentage,two_pointers,usage_percentage,weight,win_shares,win_shares_per_40_minutes
player_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
rj-barrett-1,23.5,164.0,1.2,16.0,7.7,,2.4,17.2,229.0,2.7,0.506,702.0,0.454,319.0,0.319,224.0,0.665,149.0,38.0,38.0,6-7,1341.0,5.3,4.8,59.0,3.8,70.0,23.3,860.0,834.0,Forward,1.4,34.0,duke,0.338,237.0,0.308,73.0,11.2,288.0,0.532,13.2,123.0,465.0,0.529,246.0,32.2,202.0,6.5,0.194
jack-white-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tre-jones-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
joey-baker-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
scaffoldDF = df.DataFrame

list

In [ ]:
# d = {'col1': [1, 2], 'col2': [3, 4]}
# df = pd.DataFrame(data=d)

In [54]:
d = {'name': ['LeBron', 'Booker', 'KP', 'Boban', 'Scrub'], 'Yrs': [16, 5, 4, 8, 1], 'Year': [2002, 2004, 2017,2015,2014], 
    'm/game': [30, 22, 24, 9, 3], 'ws/48': [.20, .13, .09, .15, 0.11]}
df_test = pd.DataFrame(data=d)

In [55]:
df_test

     name  Yrs  Year  m/game  ws/48
0  LeBron   16  2002      30   0.20
1  Booker    5  2004      22   0.13
2      KP    4  2017      24   0.09
3   Boban    8  2015       9   0.15
4   Scrub    1  2014       3   0.11

In [58]:
df_test['type'] = ''
df_test

     name  Yrs  Year  m/game  ws/48 type
0  LeBron   16  2002      30   0.20
1  Booker    5  2004      22   0.13
2      KP    4  2017      24   0.09
3   Boban    8  2015       9   0.15
4   Scrub    1  2014       3   0.11

In [59]:
x = 12

if x<20 and x>10:
    print('nice')
else:
    print('boo')

nice

In [72]:
for index, row in df_test.iterrows():
    if row['Year'] < 2018 and row['Yrs'] <= 2:
        row['type'] = "Bust"
    elif row['Year'] == 2018 and row['Yrs'] < 2:
        row['type'] = "Bust"
    elif row['Year'] == 2019 and row['Yrs'] < 1:
        row['type'] = "Bust"
    elif row['m/game'] > 15 and row['ws/48'] > .15:
        row['type'] = "Star"
    elif row['m/game'] > 15 and row['ws/48'] < .15 and row['ws/48'] >= .1:
        row['type'] = "Above Avg"
    else:
        row['type'] = "Below Avg"

In [79]:
for i in range(len(df_test)) : 
    if df_test.iloc[i,2] < 2018 and df_test.iloc[i,1] <= 2:
        df_test.iloc[i,5] = "Bust"
    elif df_test.iloc[i,2] == 2018 and df_test.iloc[i,1] < 2:
        df_test.iloc[i,5] = "Bust"
    elif df_test.iloc[i,2] == 2019 and df_test.iloc[i,1] < 1:
        df_test.iloc[i,5] = "Bust"
    elif df_test.iloc[i,3] > 15 and df_test.iloc[i,4] > .15:
        df_test.iloc[i,5] = "Star"
    elif df_test.iloc[i,3] > 15 and df_test.iloc[i,4] < .15 and df_test.iloc[i,4] >= .1:
        df_test.iloc[i,5] = "Above Avg"
    else:
        df_test.iloc[i,5] = "Below Avg"

In [77]:
df_test

     name  Yrs  Year  m/game  ws/48       type
0  LeBron   16  2002      30   0.20       Star
1  Booker    5  2004      22   0.13  Above Avg
2      KP    4  2017      24   0.09  Below Avg
3   Boban    8  2015       9   0.15  Below Avg
4   Scrub    1  2014       3   0.11       Bust