In [1]:
import pandas as pd
import os
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../Draft_Machine/nba_data/2018.csv")

files = [file for file in os.listdir('./Nba_Data')]

all_year_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("Nba_Data/" + file)
    all_year_data = pd.concat([all_year_data, df])
    
all_year_data.head()

,Advanced,Per Game,Round 1,Shooting,Totals,Unnamed: 0,Unnamed: 1,Unnamed: 10,Unnamed: 11,Unnamed: 13,...,Unnamed: 18,Unnamed: 2,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
0,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,0.074,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,0.168,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,0.191,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782

In [3]:
all_year_data.shape

(1150, 23)

In [4]:
new_header = all_year_data.iloc[0] #grab the first row for the header
New_all_year_data = all_year_data[1:] #take the data less the header row
New_all_year_data.columns = new_header #set the header row as the df header
New_all_year_data.head(200)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,0.074,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,0.168,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,0.191,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,60.7,26.9,Mike Miller,0.459,1032,2000,5,4376,2666,0.407,...,2.6,5,0.105,0.9,20.3,ORL,Florida,17,27812,10973
6,6.4,17.2,DerMarr Johnson,0.411,344,2000,6,769,304,0.336,...,0.9,6,0.052,-1.6,0.6,ATL,Cincinnati,7,5930,2121
7,13.3,20.1,Chris Mihm,0.459,436,2000,7,2302,223,0.231,...,0.5,7,0.073,-3.8,-4.1,CHI,Texas,8,8758,3262
8,60.6,29.4,Jamal Crawford,0.41,1326,2000,8,2948,4538,0.348,...,3.4,8,0.075,-1.1,8.9,CLE,Michigan,19,38988,19414
9,23,19.8,Joel Przybilla,0.552,592,2000,9,3665,256,0,...,0.4,9,0.094,-0.9,3.3,HOU,Minnesota,13,11733,2293
10,18.5,19.4,Keyon Dooling,0.416,728,2000,10,964,1601,0.349,...,2.2,10,0.063,-3,-3.6,ORL,Missouri,13,14134,5067
11,2.1,9.6,Jérôme Moïso,0.489,145,2000,11,395,38,0,...,0.3,11,0.074,-3.8,-0.6,BOS,UCLA,5,1392,386
12,14.9,17.3,Etan Thomas,0.513,409,2000,12,1927,149,NaN,...,0.4,12,0.101,-2.6,-1,DAL,Syracuse,9,7084,2341
13,4.1,21.7,Courtney Alexander,0.422,187,2000,13,409,227,0.339,...,1.2,13,0.048,-4,-2.1,ORL,Fresno State,3,4067,1690
14,-0.8,11.2,Mateen Cleaves,0.389,167,2000,14,175,310,0.267,...,1.9,14,-0.021,-6.3,-2,DET,Michigan State,6,1863,609
15,1.9,14.4,Jason Collier,0.455,151,2000,15,443,51,0.35,...,0.3,15,0.042,-6.3,-2.3,MIL,Georgia Tech,5,2178,841
16,63.3,26.8,Hedo Türkoğlu,0.426,997,2000,16,3971,2832,0.384,...,2.8,16,0.114,1.2,21.4,SAC,NaN,15,26695,11022
17,23.1,30.5,Desmond Mason,0.449,643,2000,17,2863,1049,0.26,...,1.6,17,0.056,-2.4,-1.9,SEA,Oklahoma State,10,19641,7767
18,32.8,26.5,Quentin Richardson,0.397,783,2000,18,3666,1138,0.355,...,1.5,18,0.076,-0.3,8.9,LAC,DePaul,13,20785,8032
19,27.7,21.5,Jamaal Magloire,0.48,680,2000,19,4408,386,0,...,0.6,19,0.091,-2.9,-3.3,CHH,Kentucky,12,14621,4917
20,14.2,25.6,Speedy Claxton,0.409,334,2000,20,830,1441,0.193,...,4.3,20,0.08,-0.7,2.8,PHI,Hofstra,7,8548,3096
21,35.7,27.2,Morris Peterson,0.418,711,2000,21,2483,1090,0.373,...,1.5,21,0.089,0,9.7,TOR,Michigan State,11,19366,7628
22,4.7,16.2,Donnell Harvey,0.46,205,2000,22,827,161,0.1,...,0.8,22,0.069,-2.7,-0.6,NYK,Florida,5,3318,1150
23,12.1,22.3,DeShawn Stevenson,0.406,824,2000,23,1832,1355,0.34,...,1.6,23,0.032,-3,-4.6,UTA,NaN,13,18396,5930
24,-0.9,10.2,Dalibor Bagarić,0.361,95,2000,24,238,37,0,...,0.4,24,-0.043,-6.8,-1.2,CHI,NaN,3,973,251
25,9.9,15.9,Jake Tsakalidis,0.49,315,2000,25,1238,101,0,...,0.3,25,0.095,-3.1,-1.3,PHO,NaN,7,5005,1497
26,1.8,12.4,Mamadou N'Diaye,0.427,69,2000,26,225,8,0,...,0.1,26,0.101,-5.3,-0.7,DEN,Auburn,5,858,262
27,10.8,18.1,Primož Brezec,0.498,342,2000,27,1327,179,0.167,...,0.5,27,0.084,-2.5,-0.8,IND,NaN,8,6192,2452
28,0.2,9.9,Erick Barkley,0.356,27,2000,28,21,40,0.267,...,1.5,28,0.027,-3.8,-0.1,POR,St. John's,2,266,77
29,8.2,11.8,Mark Madsen,0.457,453,2000,29,1157,181,0.063,...,0.4,29,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
30,12.1,25.2,Marko Jarić,0.404,447,2000,30,1200,1600,0.344,...,3.6,30,0.052,-0.5,4.3,LAC,NaN,7,11246,3193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,20.8,21.3,Rasual Butler,0.403,809,2002,53,1934,658,0.362,...,0.8,53,0.058,-2.1,-0.4,MIA,La Salle,13,17219,6092
54,-0.3,7.8,Tamar Slay,0.361,66,2002,54,70,31,0.265,...,0.5,54,-0.029,-6,-0.5,NJN,Marshall,3,517,173
55,NaN,NaN,Mladen Sekularac,NaN,NaN,2002,55,NaN,NaN,NaN,...,NaN,55,NaN,NaN,NaN,DAL,NaN,NaN,NaN,NaN
56,45.7,25.6,Luis Scola,0.493,743,2002,56,4941,1194,0.339,...,1.6,56,0.115,-0.5,7.3,SAS,NaN,10,19001,8882
57,0,2.8,Randy Holcomb,1,4,2002,57,1,0,NaN,...,0,57,0.15,-1.8,0,SAS,San Diego State,1,11,2
58,0.1,11,Corsley Edwards,0.323,10,2002,58,25,3,NaN,...,0.3,58,0.026,-5.2,-0.1,SAC,Central Connecticut State University,1,110,27
0,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,233.5,38.5,LeBron James,0.504,1243,2003,1,9225,9144,0.343,...,7.4,1,0.234,9.1,134,CLE,NaN,17,47804,33677
2,7.1,18.5,Darko Miličić,0.46,468,2003,2,1971,405,0,...,0.9,2,0.04,-1.6,0.8,DET,NaN,10,8638,2813
3,101.8,35.7,Carmelo Anthony,0.448,1097,2003,3,7158,3217,0.348,...,2.9,3,0.125,0.8,27.7,DEN,Syracuse,17,39202,26073
4,106,35.8,Chris Bosh,0.494,893,2003,4,7592,1795,0.335,...,2,4,0.159,1.4,27.5,TOR,Georgia Tech,13,31936,17189
5,120.7,33.9,Dwyane Wade,0.48,1054,2003,5,4933,5701,0.293,...,5.4,5,0.162,4.5,58.4,MIA,Marquette,16,35773,23165
6,24.6,26.7,Chris Kaman,0.489,735,2003,6,5582,921,0.042,...,1.3,6,0.06,-2,0,LAC,Central Michigan University,13,19642,8208
7,52.5,30.7,Kirk Hinrich,0.411,879,2003,7,2576,4245,0.375,...,4.8,7,0.093,0.2,14.7,CHI,Kansas,13,27015,9594
8,16.9,27.7,T.J. Ford,0.433,429,2003,8,1331,2495,0.289,...,5.8,8,0.068,-0.8,3.6,MIL,Texas,8,11882,4797
9,7.8,15.5,Mike Sweetney,0.485,233,2003,9,1045,145,0,...,0.6,9,0.103,-2.1,-0.1,NYK,Georgetown,4,3610,1516
10,10.2,23.2,Jarvis Hayes,0.415,427,2003,10,1330,459,0.356,...,1.1,10,0.049,-2.9,-2.2,WAS,Georgia,7,9898,3553
11,19.7,21.5,Mickaël Piétrus,0.425,557,2003,11,1723,445,0.355,...,0.8,11,0.079,-0.9,3.4,GSW,NaN,10,11950,4629
12,44.5,20.4,Nick Collison,0.534,910,2003,12,4701,939,0.208,...,1,12,0.115,0.4,11.3,SEA,Kansas,14,18603,5359
13,6.6,16,Marcus Banks,0.432,348,2003,13,519,728,0.327,...,2.1,13,0.057,-2.4,-0.6,MEM,UNLV,8,5571,2061
14,36,26.1,Luke Ridnour,0.431,830,2003,14,1877,3713,0.349,...,4.5,14,0.08,-0.9,5.8,SEA,Oregon,12,21623,7740
15,-0.6,8.5,Reece Gaines,0.324,71,2003,15,53,50,0.269,...,0.7,15,-0.049,-7.7,-0.9,ORL,Louisville,3,605,123
16,-0.2,5.7,Troy Bell,0.222,6,2003,16,4,4,0,...,0.7,16,-0.326,-14.4,-0.1,BOS,Boston College,1,34,11
17,1.1,10.3,Žarko Čabarkapa,0.427,150,2003,17,312,85,0.273,...,0.6,17,0.035,-5.2,-1.3,PHO,NaN,3,1550,640
18,85.9,28.2,David West,0.495,1034,2003,18,6590,2273,0.265,...,2.2,18,0.141,1.5,25.8,NOH,Xavier,15,29144,14034
19,7,15.7,Sasha Pavlović,0.404,567,2003,19,1000,517,0.346,...,0.9,19,0.038,-3.4,-3.2,UTA,NaN,10,8888,2787
20,9.9,15.7,Dahntay Jones,0.439,624,2003,20,1082,529,0.329,...,0.8,20,0.048,-3.7,-4.1,BOS,Duke,13,9799,3353
21,51.6,27,Boris Diaw,0.493,1064,2003,21,4634,3684,0.336,...,3.5,21,0.086,0.7,19.5,ATL,NaN,14,28768,9139
22,1.5,10.7,Zoran Planinić,0.405,148,2003,22,198,165,0.289,...,1.1,22,0.046,-4.2,-0.9,NJN,NaN,3,1584,561
23,16.5,20.9,Travis Outlaw,0.423,622,2003,23,1974,514,0.337,...,0.8,23,0.061,-2.3,-0.9,POR,NaN,11,13026,5273

In [5]:
df =New_all_year_data.drop([0])
df.head(63)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,0.074,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,0.168,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,0.191,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,60.7,26.9,Mike Miller,0.459,1032,2000,5,4376,2666,0.407,...,2.6,5,0.105,0.9,20.3,ORL,Florida,17,27812,10973
6,6.4,17.2,DerMarr Johnson,0.411,344,2000,6,769,304,0.336,...,0.9,6,0.052,-1.6,0.6,ATL,Cincinnati,7,5930,2121
7,13.3,20.1,Chris Mihm,0.459,436,2000,7,2302,223,0.231,...,0.5,7,0.073,-3.8,-4.1,CHI,Texas,8,8758,3262
8,60.6,29.4,Jamal Crawford,0.41,1326,2000,8,2948,4538,0.348,...,3.4,8,0.075,-1.1,8.9,CLE,Michigan,19,38988,19414
9,23,19.8,Joel Przybilla,0.552,592,2000,9,3665,256,0,...,0.4,9,0.094,-0.9,3.3,HOU,Minnesota,13,11733,2293
10,18.5,19.4,Keyon Dooling,0.416,728,2000,10,964,1601,0.349,...,2.2,10,0.063,-3,-3.6,ORL,Missouri,13,14134,5067
11,2.1,9.6,Jérôme Moïso,0.489,145,2000,11,395,38,0,...,0.3,11,0.074,-3.8,-0.6,BOS,UCLA,5,1392,386
12,14.9,17.3,Etan Thomas,0.513,409,2000,12,1927,149,NaN,...,0.4,12,0.101,-2.6,-1,DAL,Syracuse,9,7084,2341
13,4.1,21.7,Courtney Alexander,0.422,187,2000,13,409,227,0.339,...,1.2,13,0.048,-4,-2.1,ORL,Fresno State,3,4067,1690
14,-0.8,11.2,Mateen Cleaves,0.389,167,2000,14,175,310,0.267,...,1.9,14,-0.021,-6.3,-2,DET,Michigan State,6,1863,609
15,1.9,14.4,Jason Collier,0.455,151,2000,15,443,51,0.35,...,0.3,15,0.042,-6.3,-2.3,MIL,Georgia Tech,5,2178,841
16,63.3,26.8,Hedo Türkoğlu,0.426,997,2000,16,3971,2832,0.384,...,2.8,16,0.114,1.2,21.4,SAC,NaN,15,26695,11022
17,23.1,30.5,Desmond Mason,0.449,643,2000,17,2863,1049,0.26,...,1.6,17,0.056,-2.4,-1.9,SEA,Oklahoma State,10,19641,7767
18,32.8,26.5,Quentin Richardson,0.397,783,2000,18,3666,1138,0.355,...,1.5,18,0.076,-0.3,8.9,LAC,DePaul,13,20785,8032
19,27.7,21.5,Jamaal Magloire,0.48,680,2000,19,4408,386,0,...,0.6,19,0.091,-2.9,-3.3,CHH,Kentucky,12,14621,4917
20,14.2,25.6,Speedy Claxton,0.409,334,2000,20,830,1441,0.193,...,4.3,20,0.08,-0.7,2.8,PHI,Hofstra,7,8548,3096
21,35.7,27.2,Morris Peterson,0.418,711,2000,21,2483,1090,0.373,...,1.5,21,0.089,0,9.7,TOR,Michigan State,11,19366,7628
22,4.7,16.2,Donnell Harvey,0.46,205,2000,22,827,161,0.1,...,0.8,22,0.069,-2.7,-0.6,NYK,Florida,5,3318,1150
23,12.1,22.3,DeShawn Stevenson,0.406,824,2000,23,1832,1355,0.34,...,1.6,23,0.032,-3,-4.6,UTA,NaN,13,18396,5930
24,-0.9,10.2,Dalibor Bagarić,0.361,95,2000,24,238,37,0,...,0.4,24,-0.043,-6.8,-1.2,CHI,NaN,3,973,251
25,9.9,15.9,Jake Tsakalidis,0.49,315,2000,25,1238,101,0,...,0.3,25,0.095,-3.1,-1.3,PHO,NaN,7,5005,1497
26,1.8,12.4,Mamadou N'Diaye,0.427,69,2000,26,225,8,0,...,0.1,26,0.101,-5.3,-0.7,DEN,Auburn,5,858,262
27,10.8,18.1,Primož Brezec,0.498,342,2000,27,1327,179,0.167,...,0.5,27,0.084,-2.5,-0.8,IND,NaN,8,6192,2452
28,0.2,9.9,Erick Barkley,0.356,27,2000,28,21,40,0.267,...,1.5,28,0.027,-3.8,-0.1,POR,St. John's,2,266,77
29,8.2,11.8,Mark Madsen,0.457,453,2000,29,1157,181,0.063,...,0.4,29,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
30,12.1,25.2,Marko Jarić,0.404,447,2000,30,1200,1600,0.344,...,3.6,30,0.052,-0.5,4.3,LAC,NaN,7,11246,3193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,0.333,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,0.167,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
36,0.3,6.4,Soumaila Samake,0.389,47,2000,36,76,5,NaN,...,0.1,36,0.046,-6.5,-0.3,NJN,NaN,2,303,68
37,20,17.3,Eddie House,0.409,717,2000,37,1223,1112,0.39,...,1.6,37,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,24.7,18.1,Eduardo Nájera,0.481,619,2000,38,2307,493,0.311,...,0.8,38,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,-0.2,7.3,Lavor Postell,0.335,61,2000,39,45,13,0.25,...,0.2,39,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,0.9,15.2,Hanno Möttölä,0.442,155,2000,40,442,75,0.063,...,0.5,40,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,Chris Carrawell,NaN,NaN,2000,41,NaN,NaN,NaN,...,NaN,41,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
42,1.2,6.3,Olumide Oyedeji,0.495,93,2000,42,196,11,NaN,...,0.1,42,0.095,-4.7,-0.4,SEA,NaN,3,587,127
43,55.9,32,Michael Redd,0.447,629,2000,43,2411,1338,0.38,...,2.1,43,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
44,15.4,14.2,Brian Cardinal,0.408,456,2000,44,1050,465,0.372,...,1,44,0.114,0.7,4.5,DET,Purdue,12,6477,2108
45,1.3,9.8,Jabari Smith,0.413,108,2000,45,178,66,0.125,...,0.6,45,0.058,-4,-0.5,SAC,LSU,4,1063,329
46,NaN,NaN,DeeAndre Hulett,NaN,NaN,2000,46,NaN,NaN,NaN,...,NaN,46,NaN,NaN,NaN,TOR,College of the Sequoias,NaN,NaN,NaN
47,NaN,NaN,Josip Sesar,NaN,NaN,2000,47,NaN,NaN,NaN,...,NaN,47,NaN,NaN,NaN,SEA,NaN,NaN,NaN,NaN
48,NaN,NaN,Mark Karcher,NaN,NaN,2000,48,NaN,NaN,NaN,...,NaN,48,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
49,8.6,15.5,Jason Hart,0.417,341,2000,49,567,774,0.315,...,2.3,49,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
50,0.1,4.5,Kaniel Dickens,0.4,19,2000,50,12,2,0.333,...,0.1,50,0.055,-5,-0.1,UTA,Idaho,3,85,22
51,0.1,5.8,Igor Rakočević,0.379,42,2000,51,17,33,0.417,...,0.8,51,0.022,-7.1,-0.3,MIN,NaN,1,244,78
52,-0.2,7,Ernest Brown,0.167,3,2000,52,6,0,NaN,...,0,52,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
53,0,9.7,Dan McClintock,0.5,6,2000,53,17,1,NaN,...,0.2,53,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
54,NaN,NaN,Cory Hightower,NaN,NaN,2000,54,NaN,NaN,NaN,...,NaN,54,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
55,0.2,22.5,Chris Porter,0.389,51,2000,55,189,61,0,...,1.2,55,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440
56,NaN,NaN,Jaquay Walls,NaN,NaN,2000,56,NaN,NaN,NaN,...,NaN,56,NaN,NaN,NaN,IND,Colorado,NaN,NaN,NaN
57,NaN,NaN,Scoonie Penn,NaN,NaN,2000,57,NaN,NaN,NaN,...,NaN,57,NaN,NaN,NaN,ATL,Ohio State,NaN,NaN,NaN
58,NaN,NaN,Pete Mickeal,NaN,NaN,2000,58,NaN,NaN,NaN,...,NaN,58,NaN,NaN,NaN,DAL,Cincinnati,NaN,NaN,NaN
1,20.8,22.1,Kwame Brown,0.492,607,2001,1,3333,554,0.111,...,0.9,1,0.074,-2.1,-0.4,WAS,NaN,12,13389,4035
2,102.1,27.3,Tyson Chandler,0.597,1159,2001,2,10467,967,0,...,0.8,2,0.155,1.4,27.4,LAC,NaN,19,31617,9509
3,144.1,33.4,Pau Gasol,0.507,1226,2001,3,11305,3925,0.368,...,3.2,3,0.169,3.5,56.8,ATL,NaN,18,41001,20894
4,21.7,24.9,Eddy Curry,0.545,527,2001,4,2725,287,1,...,0.5,4,0.08,-3.5,-5,CHI,NaN,11,13109,6820
5,59.1,34.1,Jason Richardson,0.438,857,2001,5,4245,2284,0.37,...,2.7,5,0.097,1.3,24.4,GSW,Michigan State,13,29241,14644

In [7]:
df_sort = df.sort_values(by = "Year")
df_sort.head()

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,0.3,15.6,A.J. Guyton,0.377,80,2000,32,80,147,0.378,...,1.8,32,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,0.333,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,0.333,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,0.167,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [8]:
college_df=df_sort.dropna(axis=0, subset=["College"], inplace=False)
college_df.head(10)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,0.3,15.6,A.J. Guyton,0.377,80,2000,32,80,147,0.378,...,1.8,32,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,0.333,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,0.333,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,0.167,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,20,17.3,Eddie House,0.409,717,2000,37,1223,1112,0.39,...,1.6,37,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,24.7,18.1,Eduardo Nájera,0.481,619,2000,38,2307,493,0.311,...,0.8,38,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,-0.2,7.3,Lavor Postell,0.335,61,2000,39,45,13,0.25,...,0.2,39,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,0.9,15.2,Hanno Möttölä,0.442,155,2000,40,442,75,0.063,...,0.5,40,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,Chris Carrawell,NaN,NaN,2000,41,NaN,NaN,NaN,...,NaN,41,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN

In [9]:
clean=college_df.drop(columns=["FG%", "TRB", "AST", "3P%","FT%","TRB","AST", "Pk"])
clean.head()

,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [10]:
clean.columns=["Win Shares", "Mins Played (per game)", "Player","Games","Year","Rank","Points(per game)","WS/48", "Box +/-","Value Overall Replacement Player", "Team", "College", "Years","Mins Played (Total)","Points (Total)"]
                                
clean.rename(columns={df_sort.columns[0]:"Win Shares"})

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
1,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,Chris Carrawell,NaN,2000,41,NaN,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
43,55.9,32,Michael Redd,629,2000,43,19,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
31,0.3,9.4,Dan Langhi,133,2000,31,3,0.012,-6.8,-1.5,DAL,Vanderbilt,4,1253,393
45,1.3,9.8,Jabari Smith,108,2000,45,3,0.058,-4,-0.5,SAC,LSU,4,1063,329
48,NaN,NaN,Mark Karcher,NaN,2000,48,NaN,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
49,8.6,15.5,Jason Hart,341,2000,49,4.8,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
50,0.1,4.5,Kaniel Dickens,19,2000,50,1.2,0.055,-5,-0.1,UTA,Idaho,3,85,22
52,-0.2,7,Ernest Brown,3,2000,52,1,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
53,0,9.7,Dan McClintock,6,2000,53,3,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
54,NaN,NaN,Cory Hightower,NaN,2000,54,NaN,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
55,0.2,22.5,Chris Porter,51,2000,55,8.6,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440
56,NaN,NaN,Jaquay Walls,NaN,2000,56,NaN,NaN,NaN,NaN,IND,Colorado,NaN,NaN,NaN
57,NaN,NaN,Scoonie Penn,NaN,2000,57,NaN,NaN,NaN,NaN,ATL,Ohio State,NaN,NaN,NaN
58,NaN,NaN,Pete Mickeal,NaN,2000,58,NaN,NaN,NaN,NaN,DAL,Cincinnati,NaN,NaN,NaN
46,NaN,NaN,DeeAndre Hulett,NaN,2000,46,NaN,NaN,NaN,NaN,TOR,College of the Sequoias,NaN,NaN,NaN
44,15.4,14.2,Brian Cardinal,456,2000,44,4.6,0.114,0.7,4.5,DET,Purdue,12,6477,2108
28,0.2,9.9,Erick Barkley,27,2000,28,2.9,0.027,-3.8,-0.1,POR,St. John's,2,266,77
29,8.2,11.8,Mark Madsen,453,2000,29,2.2,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
2,21.3,19.8,Stromile Swift,547,2000,2,8.4,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
4,2.7,20.9,Marcus Fizer,289,2000,4,9.6,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,60.7,26.9,Mike Miller,1032,2000,5,10.6,0.105,0.9,20.3,ORL,Florida,17,27812,10973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,1,13.7,Hamidou Diallo,81,2018,45,4.8,0.041,-4.7,-0.8,BRK,Kentucky,2,1112,389
30,2.6,17.7,Omari Spellman,92,2018,30,6.8,0.076,-1.2,0.3,ATL,Villanova,2,1628,625
15,2.3,19.6,Troy Brown,96,2018,15,7.5,0.058,-2.1,-0.1,WAS,Oregon,2,1884,716
28,-0.7,10.3,Jacob Evans,54,2018,28,2.7,-0.06,-8,-0.8,GSW,Cincinnati,2,555,147
59,0,6,George King,1,2018,59,0,-0.001,-10.6,0,PHO,Colorado,1,6,0
1,7.5,31.1,Deandre Ayton,89,2018,1,16.6,0.131,0.2,1.5,PHO,Arizona,2,2772,1479
2,4,25.3,Marvin Bagley,75,2018,2,14.8,0.101,-2.5,-0.2,SAC,Duke,2,1901,1108
4,6,27,Jaren Jackson,105,2018,4,15.5,0.102,0.5,1.8,MEM,Michigan State,2,2833,1628
5,7.8,32.4,Trae Young,125,2018,5,22.8,0.093,1.4,3.5,DAL,Oklahoma,2,4046,2844
6,3.4,15.8,Mohamed Bamba,91,2018,6,5.8,0.112,0.4,0.9,ORL,Texas,2,1440,532
7,5.1,27.4,Wendell Carter,81,2018,7,11,0.111,-0.3,0.9,CHI,Duke,2,2219,888
8,0.8,31.9,Collin Sexton,131,2018,8,17.8,0.009,-4.4,-2.5,CLE,Alabama,2,4175,2329
9,-0.9,24.9,Kevin Knox,123,2018,9,10.6,-0.014,-5.3,-2.6,NYK,Kentucky,2,3058,1304
10,5.6,27.6,Mikal Bridges,130,2018,10,8,0.075,0.3,2.1,PHI,Villanova,2,3593,1042
11,7.4,29.9,Shai Gilgeous-Alexander,132,2018,11,14.1,0.09,-0.1,1.9,CHO,Kentucky,2,3950,1858
12,4,24.5,Miles Bridges,128,2018,12,9.2,0.062,-1.4,0.5,LAC,Michigan State,2,3139,1182
13,0,10.8,Jerome Robinson,73,2018,13,3.2,0.002,-4.4,-0.5,LAC,Boston College,2,792,234
14,1.9,14.3,Michael Porter,39,2018,14,8,0.168,0.6,0.4,DEN,Missouri,1,556,311
16,0.1,14.7,Zhaire Smith,9,2018,16,4.9,0.025,-4.7,-0.1,PHO,Texas Tech,2,132,44
17,3.7,19.8,Donte DiVincenzo,70,2018,17,7.4,0.129,1.4,1.2,MIL,Villanova,2,1389,518
18,0.4,10.9,Lonnie Walker,56,2018,18,4.8,0.033,-4.7,-0.4,SAS,Miami (FL),2,613,270
19,2.5,27.8,Kevin Huerter,113,2018,19,10.3,0.038,-1.7,0.2,ATL,Maryland,2,3140,1161
20,2.4,23.8,Josh Okogie,119,2018,20,7.8,0.041,-1.6,0.3,MIN,Georgia Tech,2,2838,929
21,0.6,13.4,Grayson Allen,68,2018,21,6.4,0.033,-5,-0.7,UTA,Duke,2,914,432
22,1.3,19.2,Chandler Hutchison,68,2018,22,5.9,0.049,-3.8,-0.6,CHI,Boise State,2,1303,400
23,2.7,17.9,Aaron Holiday,95,2018,23,8,0.076,-1.7,0.1,IND,UCLA,2,1698,760
25,1.2,13.7,Moritz Wagner,64,2018,25,7,0.066,-2.4,-0.1,LAL,Michigan,2,875,451
26,5.4,24.4,Landry Shamet,110,2018,26,9.4,0.097,-0.7,0.9,PHI,Wichita State,2,2679,1036
27,2.3,10.8,Robert Williams,51,2018,27,3,0.199,5,1,BOS,Texas A&M,2,552,155
60,0,3.2,Kostas Antetokounmpo,5,2018,60,0.4,-0.128,-10.4,0,PHI,Dayton,2,16,2

In [11]:
df_reindex=clean.reset_index()
df_reindex=df_reindex.drop(['index'],axis=1)
df_reindex.head(20)

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
2,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
3,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
4,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
5,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
6,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
7,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
8,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
9,NaN,NaN,Chris Carrawell,NaN,2000,41,NaN,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
10,55.9,32,Michael Redd,629,2000,43,19,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
11,0.3,9.4,Dan Langhi,133,2000,31,3,0.012,-6.8,-1.5,DAL,Vanderbilt,4,1253,393
12,1.3,9.8,Jabari Smith,108,2000,45,3,0.058,-4,-0.5,SAC,LSU,4,1063,329
13,NaN,NaN,Mark Karcher,NaN,2000,48,NaN,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
14,8.6,15.5,Jason Hart,341,2000,49,4.8,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
15,0.1,4.5,Kaniel Dickens,19,2000,50,1.2,0.055,-5,-0.1,UTA,Idaho,3,85,22
16,-0.2,7,Ernest Brown,3,2000,52,1,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
17,0,9.7,Dan McClintock,6,2000,53,3,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
18,NaN,NaN,Cory Hightower,NaN,2000,54,NaN,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
19,0.2,22.5,Chris Porter,51,2000,55,8.6,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440

In [12]:
clean_df=df_reindex.fillna(value=0)
clean_df.head()

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
2,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
3,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
4,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [13]:
clean_df.dtypes

Win Shares                          object
Mins Played (per game)              object
Player                              object
Games                               object
Year                                object
Rank                                object
Points(per game)                    object
WS/48                               object
Box +/-                             object
Value Overall Replacement Player    object
Team                                object
College                             object
Years                               object
Mins Played (Total)                 object
Points (Total)                      object
dtype: object

In [14]:
clean_df["Win Shares"]= clean_df["Win Shares"].astype ('float')
clean_df["Mins Played (per game)"]=clean_df["Mins Played (per game)"].astype ('float')
clean_df["Points(per game)"]=clean_df["Points(per game)"].astype ('float')
clean_df["WS/48"]=clean_df["WS/48"].astype ('float')
clean_df["Box +/-"]=clean_df["Box +/-"].astype ('float')
clean_df["Value Overall Replacement Player"]=clean_df["Value Overall Replacement Player"].astype ('float')


clean_df["Games"]=clean_df["Games"].astype("int")
clean_df["Year"]=clean_df["Year"].astype("int")
clean_df["Rank"]=clean_df["Rank"].astype("int")
clean_df["Years"]=clean_df["Years"].astype("int")
clean_df["Mins Played (Total)"]=clean_df["Mins Played (Total)"].astype("int")
clean_df["Points (Total)"]=clean_df["Points (Total)"].astype("int")

clean_df["Player"]=clean_df["Player"].astype(str)
#  "Player":str,

#  "Team":str, 
# "College":str,

In [15]:
clean_df.dtypes

Win Shares                          float64
Mins Played (per game)              float64
Player                               object
Games                                 int32
Year                                  int32
Rank                                  int32
Points(per game)                    float64
WS/48                               float64
Box +/-                             float64
Value Overall Replacement Player    float64
Team                                 object
College                              object
Years                                 int32
Mins Played (Total)                   int32
Points (Total)                        int32
dtype: object

In [16]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863 entries, 0 to 862
Data columns (total 15 columns):
Win Shares                          863 non-null float64
Mins Played (per game)              863 non-null float64
Player                              863 non-null object
Games                               863 non-null int32
Year                                863 non-null int32
Rank                                863 non-null int32
Points(per game)                    863 non-null float64
WS/48                               863 non-null float64
Box +/-                             863 non-null float64
Value Overall Replacement Player    863 non-null float64
Team                                863 non-null object
College                             863 non-null object
Years                               863 non-null int32
Mins Played (Total)                 863 non-null int32
Points (Total)                      863 non-null int32
dtypes: float64(6), int32(6), object(3)
memory usage: 81.0+ KB

In [34]:
#to calculate median w/s of NBA player remove draft picks who did not play 
no_zeros = clean_df["Games"] != 0
no_zero_df = clean_df[no_zeros]
len(no_zero_df)

In [46]:
#we will use the mean to separate above-average from below-average players
print(no_zero_df['WS/48'].median())

0.068

In [20]:
#create blank column for Class of player
clean_df["Class"] =''

In [39]:
#run for loop to assingn Star, Above Avg, Below Avg of Bust to the Class column
for i in range(len(clean_df)) : 
    if clean_df.loc[i,'Year'] < 2018 and clean_df.loc[i,'Years'] <= 2:
        clean_df.loc[i,'Class'] = "Bust"
    elif clean_df.loc[i,'Year'] == 2018 and clean_df.loc[i,'Years'] < 2:
        clean_df.loc[i,'Class'] = "Bust"
    elif clean_df.loc[i,'Year'] == 2019 and clean_df.loc[i,'Years'] < 1:
        clean_df.loc[i,'Class'] = "Bust"
    elif clean_df.loc[i,'Mins Played (per game)'] > 15 and clean_df.loc[i,'WS/48'] >= .12:
        clean_df.loc[i,'Class'] = "Star"
    elif clean_df.loc[i,'Mins Played (per game)'] > 15 and clean_df.loc[i,'WS/48'] < .12 and clean_df.loc[i,'WS/48'] > .068:
        clean_df.loc[i,'Class'] = "Above Avg"
    else:
        clean_df.loc[i,'Class']  = "Below Avg"

In [47]:
#check df
clean_df.head(10)

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total),Class
0,48.0,30.6,Kenyon Martin,757,2000,1,12.3,0.100,0.7,15.5,NJN,Cincinnati,15,23134,9325,Above Avg
1,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.010,-5.4,-1.1,CHI,Indiana,3,1246,442,Below Avg
2,11.6,14.3,Jake Voskuhl,450,2000,33,4.0,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814,Below Avg
3,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.030,-3.8,-0.4,CHI,UConn,1,936,314,Bust
4,-0.1,10.6,Mike Smith,17,2000,35,3.0,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51,Bust
5,20.0,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356,Above Avg
6,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052,Above Avg
7,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195,Below Avg
8,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715,Bust
9,0.0,0.0,Chris Carrawell,0,2000,41,0.0,0.000,0.0,0.0,SAS,Duke,0,0,0,Bust

In [52]:
#count number of players in each class
type_df = clean_df.groupby('Class').count()
type_df

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
Class,,,,,,,,,,,,,,,
Above Avg,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219
Below Avg,311,311,311,311,311,311,311,311,311,311,311,311,311,311,311
Bust,242,242,242,242,242,242,242,242,242,242,242,242,242,242,242
Star,91,91,91,91,91,91,91,91,91,91,91,91,91,91,91

In [65]:
#check percentage of Classes
total = type_df["Games"].sum()
above = (type_df.iloc[0, 0]/total)*100
below = (type_df.iloc[1, 0]/total)*100
bust = (type_df.iloc[2, 0]/total)*100
star = (type_df.iloc[3, 0]/total)*100
print(f'% of Above Avg Players: {above}')
print(f'% of Below Avg Players: {below}')
print(f'% of Bust Players: {bust}')
print(f'% of Star Players: {star}')

% of Above Avg Players: 25.3765932792584
% of Below Avg Players: 36.03707995365006
% of Bust Players: 28.041714947856317
% of Star Players: 10.544611819235227

In [67]:
# # #df.to_csv(file_name, sep='\t', encoding='utf-8')
clean_df.to_csv("NBA_data.csv",index = False, header = True)