In [1]:
import pandas as pd
import os
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../Draft_Machine/nba_data/2018.csv")

files = [file for file in os.listdir('./Nba_Data')]

all_year_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("Nba_Data/" + file)
    all_year_data = pd.concat([all_year_data, df])
    
all_year_data.head()

,<<<<<<< HEAD,Advanced,Per Game,Round 1,Shooting,Totals,Unnamed: 0,Unnamed: 1,Unnamed: 10,Unnamed: 11,...,Unnamed: 18,Unnamed: 2,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
0,NaN,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,NaN,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,NaN,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,NaN,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782

In [3]:
all_year_data.shape

(1213, 24)

In [4]:
new_header = all_year_data.iloc[0] #grab the first row for the header
New_all_year_data = all_year_data[1:] #take the data less the header row
New_all_year_data.columns = new_header #set the header row as the df header
New_all_year_data.head(200)

,nan,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,NaN,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,NaN,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,NaN,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,NaN,60.7,26.9,Mike Miller,0.459,1032,2000,5,4376,2666,...,2.6,5,0.105,0.9,20.3,ORL,Florida,17,27812,10973
6,NaN,6.4,17.2,DerMarr Johnson,0.411,344,2000,6,769,304,...,0.9,6,0.052,-1.6,0.6,ATL,Cincinnati,7,5930,2121
7,NaN,13.3,20.1,Chris Mihm,0.459,436,2000,7,2302,223,...,0.5,7,0.073,-3.8,-4.1,CHI,Texas,8,8758,3262
8,NaN,60.6,29.4,Jamal Crawford,0.41,1326,2000,8,2948,4538,...,3.4,8,0.075,-1.1,8.9,CLE,Michigan,19,38988,19414
9,NaN,23,19.8,Joel Przybilla,0.552,592,2000,9,3665,256,...,0.4,9,0.094,-0.9,3.3,HOU,Minnesota,13,11733,2293
10,NaN,18.5,19.4,Keyon Dooling,0.416,728,2000,10,964,1601,...,2.2,10,0.063,-3,-3.6,ORL,Missouri,13,14134,5067
11,NaN,2.1,9.6,Jérôme Moïso,0.489,145,2000,11,395,38,...,0.3,11,0.074,-3.8,-0.6,BOS,UCLA,5,1392,386
12,NaN,14.9,17.3,Etan Thomas,0.513,409,2000,12,1927,149,...,0.4,12,0.101,-2.6,-1,DAL,Syracuse,9,7084,2341
13,NaN,4.1,21.7,Courtney Alexander,0.422,187,2000,13,409,227,...,1.2,13,0.048,-4,-2.1,ORL,Fresno State,3,4067,1690
14,NaN,-0.8,11.2,Mateen Cleaves,0.389,167,2000,14,175,310,...,1.9,14,-0.021,-6.3,-2,DET,Michigan State,6,1863,609
15,NaN,1.9,14.4,Jason Collier,0.455,151,2000,15,443,51,...,0.3,15,0.042,-6.3,-2.3,MIL,Georgia Tech,5,2178,841
16,NaN,63.3,26.8,Hedo Türkoğlu,0.426,997,2000,16,3971,2832,...,2.8,16,0.114,1.2,21.4,SAC,NaN,15,26695,11022
17,NaN,23.1,30.5,Desmond Mason,0.449,643,2000,17,2863,1049,...,1.6,17,0.056,-2.4,-1.9,SEA,Oklahoma State,10,19641,7767
18,NaN,32.8,26.5,Quentin Richardson,0.397,783,2000,18,3666,1138,...,1.5,18,0.076,-0.3,8.9,LAC,DePaul,13,20785,8032
19,NaN,27.7,21.5,Jamaal Magloire,0.48,680,2000,19,4408,386,...,0.6,19,0.091,-2.9,-3.3,CHH,Kentucky,12,14621,4917
20,NaN,14.2,25.6,Speedy Claxton,0.409,334,2000,20,830,1441,...,4.3,20,0.08,-0.7,2.8,PHI,Hofstra,7,8548,3096
21,NaN,35.7,27.2,Morris Peterson,0.418,711,2000,21,2483,1090,...,1.5,21,0.089,0,9.7,TOR,Michigan State,11,19366,7628
22,NaN,4.7,16.2,Donnell Harvey,0.46,205,2000,22,827,161,...,0.8,22,0.069,-2.7,-0.6,NYK,Florida,5,3318,1150
23,NaN,12.1,22.3,DeShawn Stevenson,0.406,824,2000,23,1832,1355,...,1.6,23,0.032,-3,-4.6,UTA,NaN,13,18396,5930
24,NaN,-0.9,10.2,Dalibor Bagarić,0.361,95,2000,24,238,37,...,0.4,24,-0.043,-6.8,-1.2,CHI,NaN,3,973,251
25,NaN,9.9,15.9,Jake Tsakalidis,0.49,315,2000,25,1238,101,...,0.3,25,0.095,-3.1,-1.3,PHO,NaN,7,5005,1497
26,NaN,1.8,12.4,Mamadou N'Diaye,0.427,69,2000,26,225,8,...,0.1,26,0.101,-5.3,-0.7,DEN,Auburn,5,858,262
27,NaN,10.8,18.1,Primož Brezec,0.498,342,2000,27,1327,179,...,0.5,27,0.084,-2.5,-0.8,IND,NaN,8,6192,2452
28,NaN,0.2,9.9,Erick Barkley,0.356,27,2000,28,21,40,...,1.5,28,0.027,-3.8,-0.1,POR,St. John's,2,266,77
29,NaN,8.2,11.8,Mark Madsen,0.457,453,2000,29,1157,181,...,0.4,29,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
30,NaN,12.1,25.2,Marko Jarić,0.404,447,2000,30,1200,1600,...,3.6,30,0.052,-0.5,4.3,LAC,NaN,7,11246,3193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2001, 50, 50, POR, Ruben Boumtje-Boumtje, Georgetown, 3, 44, 276, 43, 57, 6, 0.368, nan, 0.556, 6.3, 1, 1.3, 0.1, 0.2, 0.027, -4.5)",-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 51, 51, PHO, Alton Ford, Houston, 3, 73, 524, 186, 124, 11, 0.507, nan, 0.697, 7.2, 2.5, 1.7, 0.2, 0.8, 0.074, -6.5)",-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 52, 52, MIL, Andre Hutson, Michigan State, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 53, 53, UTA, Jarron Collins, Stanford, 10, 542, 8542, 2095, 1579, 419, 0.455, 0, 0.699, 15.8, 3.9, 2.9, 0.8, 15.7, 0.088, -1.8)",0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 54, 54, DAL, Kenny Satterfield, Cincinnati, 2, 75, 1062, 321, 95, 176, 0.335, 0.218, 0.746, 14.2, 4.3, 1.3, 2.3, -1.1, -0.051, -6.1)",-1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 55, 55, SAC, Maurice Jeffers, Saint Louis, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 56, 56, SAS, Robertas Javtokas, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 57, 57, PHI, Alvin Jones, Georgia Tech, 1, 23, 126, 26, 36, 3, 0.4, nan, 0.5, 5.5, 1.1, 1.6, 0.1, 0.1, 0.034, -4.5)",-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 58, 58, SAS, Bryan Bracey, Oregon, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(>>>>>>> origin, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,65.9,32.5,Yao Ming,0.524,486,2002,1,4494,769,...,1.6,1,0.2,2.3,17,HOU,NaN,8,15818,9247
2,NaN,0.8,26.1,Jay Williams,0.399,75,2002,2,195,350,...,4.7,2,0.02,-2.2,-0.1,CHI,Duke,1,1961,714
3,NaN,58.5,27.7,Mike Dunleavy,0.441,986,2002,3,4211,2185,...,2.2,3,0.103,0.3,15.9,GSW,Duke,15,27340,11048
4,NaN,43.9,25.5,Drew Gooden,0.462,790,2002,4,5618,896,...,1.1,4,0.105,-1.5,2.3,MEM,Kansas,14,20127,8653
5,NaN,-1.6,11.3,Nikoloz Tskitishvili,0.304,172,2002,5,307,114,...,0.7,5,-0.039,-6.3,-2.1,DEN,NaN,4,1946,507
6,NaN,0,21.4,Dajuan Wagner,0.366,103,2002,6,142,195,...,1.9,6,0,-5.6,-2,CLE,Memphis,4,2202,964
7,NaN,73.3,26.2,Nenê Hilário,0.548,965,2002,7,5828,1719,...,1.8,7,0.139,1.8,24.4,NYK,NaN,17,25237,10909
8,NaN,26.9,19.9,Chris Wilcox,0.541,628,2002,8,3076,455,...,0.7,8,0.103,-1.6,1.2,LAC,Maryland,11,12474,5150
9,NaN,92.5,31,Amar'e Stoudemire,0.537,846,2002,9,6632,1050,...,1.2,9,0.169,0.5,16.8,PHO,NaN,14,26254,15994
10,NaN,50.9,32.2,Caron Butler,0.434,881,2002,10,4387,2007,...,2.3,10,0.086,0.2,15.9,MIA,UConn,14,28333,12430
11,NaN,13.1,21.6,Jared Jeffries,0.426,629,2002,11,2563,798,...,1.3,11,0.046,-0.9,3.8,WAS,Indiana,11,13579,3003
12,NaN,4,16,Melvin Ely,0.46,375,2002,12,1215,261,...,0.7,12,0.032,-3.6,-2.4,LAC,Fresno State,9,6005,1992
13,NaN,0.5,9.6,Marcus Haislip,0.437,89,2002,13,131,16,...,0.2,13,0.026,-6.2,-0.9,MIL,Tennessee,4,854,311
14,NaN,16.5,24,Fred Jones,0.411,430,2002,14,958,990,...,2.3,14,0.077,-0.9,2.8,IND,Oregon,7,10299,3206
15,NaN,8.7,17.8,Boštjan Nachbar,0.406,317,2002,15,836,283,...,0.9,15,0.074,-2.3,-0.4,HOU,NaN,6,5628,2252
16,NaN,5.7,18.6,Jiří Welsch,0.403,247,2002,16,602,375,...,1.5,16,0.059,-2.1,-0.1,PHI,NaN,4,4596,1519
17,NaN,6.1,19.5,Juan Dixon,0.413,436,2002,17,816,775,...,1.8,17,0.034,-3,-2.1,WAS,Maryland,7,8509,3678
18,NaN,1,13.5,Curtis Borchardt,0.421,83,2002,18,278,64,...,0.8,18,0.041,-2.4,-0.1,ORL,Stanford,2,1117,258
19,NaN,-0.4,9.1,Ryan Humphrey,0.344,85,2002,19,189,18,...,0.2,19,-0.027,-7.6,-1.1,UTA,Notre Dame,3,772,197

In [5]:
df =New_all_year_data.drop([0])
df.head(63)

,nan,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
2,NaN,21.3,19.8,Stromile Swift,0.473,547,2000,2,2535,275,...,0.5,2,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
3,NaN,9.5,26.3,Darius Miles,0.472,446,2000,3,2190,840,...,1.9,3,0.039,-1.2,2.3,LAC,NaN,7,11730,4507
4,NaN,2.7,20.9,Marcus Fizer,0.435,289,2000,4,1340,352,...,1.2,4,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,NaN,60.7,26.9,Mike Miller,0.459,1032,2000,5,4376,2666,...,2.6,5,0.105,0.9,20.3,ORL,Florida,17,27812,10973
6,NaN,6.4,17.2,DerMarr Johnson,0.411,344,2000,6,769,304,...,0.9,6,0.052,-1.6,0.6,ATL,Cincinnati,7,5930,2121
7,NaN,13.3,20.1,Chris Mihm,0.459,436,2000,7,2302,223,...,0.5,7,0.073,-3.8,-4.1,CHI,Texas,8,8758,3262
8,NaN,60.6,29.4,Jamal Crawford,0.41,1326,2000,8,2948,4538,...,3.4,8,0.075,-1.1,8.9,CLE,Michigan,19,38988,19414
9,NaN,23,19.8,Joel Przybilla,0.552,592,2000,9,3665,256,...,0.4,9,0.094,-0.9,3.3,HOU,Minnesota,13,11733,2293
10,NaN,18.5,19.4,Keyon Dooling,0.416,728,2000,10,964,1601,...,2.2,10,0.063,-3,-3.6,ORL,Missouri,13,14134,5067
11,NaN,2.1,9.6,Jérôme Moïso,0.489,145,2000,11,395,38,...,0.3,11,0.074,-3.8,-0.6,BOS,UCLA,5,1392,386
12,NaN,14.9,17.3,Etan Thomas,0.513,409,2000,12,1927,149,...,0.4,12,0.101,-2.6,-1,DAL,Syracuse,9,7084,2341
13,NaN,4.1,21.7,Courtney Alexander,0.422,187,2000,13,409,227,...,1.2,13,0.048,-4,-2.1,ORL,Fresno State,3,4067,1690
14,NaN,-0.8,11.2,Mateen Cleaves,0.389,167,2000,14,175,310,...,1.9,14,-0.021,-6.3,-2,DET,Michigan State,6,1863,609
15,NaN,1.9,14.4,Jason Collier,0.455,151,2000,15,443,51,...,0.3,15,0.042,-6.3,-2.3,MIL,Georgia Tech,5,2178,841
16,NaN,63.3,26.8,Hedo Türkoğlu,0.426,997,2000,16,3971,2832,...,2.8,16,0.114,1.2,21.4,SAC,NaN,15,26695,11022
17,NaN,23.1,30.5,Desmond Mason,0.449,643,2000,17,2863,1049,...,1.6,17,0.056,-2.4,-1.9,SEA,Oklahoma State,10,19641,7767
18,NaN,32.8,26.5,Quentin Richardson,0.397,783,2000,18,3666,1138,...,1.5,18,0.076,-0.3,8.9,LAC,DePaul,13,20785,8032
19,NaN,27.7,21.5,Jamaal Magloire,0.48,680,2000,19,4408,386,...,0.6,19,0.091,-2.9,-3.3,CHH,Kentucky,12,14621,4917
20,NaN,14.2,25.6,Speedy Claxton,0.409,334,2000,20,830,1441,...,4.3,20,0.08,-0.7,2.8,PHI,Hofstra,7,8548,3096
21,NaN,35.7,27.2,Morris Peterson,0.418,711,2000,21,2483,1090,...,1.5,21,0.089,0,9.7,TOR,Michigan State,11,19366,7628
22,NaN,4.7,16.2,Donnell Harvey,0.46,205,2000,22,827,161,...,0.8,22,0.069,-2.7,-0.6,NYK,Florida,5,3318,1150
23,NaN,12.1,22.3,DeShawn Stevenson,0.406,824,2000,23,1832,1355,...,1.6,23,0.032,-3,-4.6,UTA,NaN,13,18396,5930
24,NaN,-0.9,10.2,Dalibor Bagarić,0.361,95,2000,24,238,37,...,0.4,24,-0.043,-6.8,-1.2,CHI,NaN,3,973,251
25,NaN,9.9,15.9,Jake Tsakalidis,0.49,315,2000,25,1238,101,...,0.3,25,0.095,-3.1,-1.3,PHO,NaN,7,5005,1497
26,NaN,1.8,12.4,Mamadou N'Diaye,0.427,69,2000,26,225,8,...,0.1,26,0.101,-5.3,-0.7,DEN,Auburn,5,858,262
27,NaN,10.8,18.1,Primož Brezec,0.498,342,2000,27,1327,179,...,0.5,27,0.084,-2.5,-0.8,IND,NaN,8,6192,2452
28,NaN,0.2,9.9,Erick Barkley,0.356,27,2000,28,21,40,...,1.5,28,0.027,-3.8,-0.1,POR,St. John's,2,266,77
29,NaN,8.2,11.8,Mark Madsen,0.457,453,2000,29,1157,181,...,0.4,29,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
30,NaN,12.1,25.2,Marko Jarić,0.404,447,2000,30,1200,1600,...,3.6,30,0.052,-0.5,4.3,LAC,NaN,7,11246,3193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,NaN,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,NaN,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
36,NaN,0.3,6.4,Soumaila Samake,0.389,47,2000,36,76,5,...,0.1,36,0.046,-6.5,-0.3,NJN,NaN,2,303,68
37,NaN,20,17.3,Eddie House,0.409,717,2000,37,1223,1112,...,1.6,37,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,NaN,24.7,18.1,Eduardo Nájera,0.481,619,2000,38,2307,493,...,0.8,38,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,NaN,-0.2,7.3,Lavor Postell,0.335,61,2000,39,45,13,...,0.2,39,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,NaN,0.9,15.2,Hanno Möttölä,0.442,155,2000,40,442,75,...,0.5,40,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,NaN,Chris Carrawell,NaN,NaN,2000,41,NaN,NaN,...,NaN,41,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
42,NaN,1.2,6.3,Olumide Oyedeji,0.495,93,2000,42,196,11,...,0.1,42,0.095,-4.7,-0.4,SEA,NaN,3,587,127
43,NaN,55.9,32,Michael Redd,0.447,629,2000,43,2411,1338,...,2.1,43,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
44,NaN,15.4,14.2,Brian Cardinal,0.408,456,2000,44,1050,465,...,1,44,0.114,0.7,4.5,DET,Purdue,12,6477,2108
45,NaN,1.3,9.8,Jabari Smith,0.413,108,2000,45,178,66,...,0.6,45,0.058,-4,-0.5,SAC,LSU,4,1063,329
46,NaN,NaN,NaN,DeeAndre Hulett,NaN,NaN,2000,46,NaN,NaN,...,NaN,46,NaN,NaN,NaN,TOR,College of the Sequoias,NaN,NaN,NaN
47,NaN,NaN,NaN,Josip Sesar,NaN,NaN,2000,47,NaN,NaN,...,NaN,47,NaN,NaN,NaN,SEA,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,Mark Karcher,NaN,NaN,2000,48,NaN,NaN,...,NaN,48,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
49,NaN,8.6,15.5,Jason Hart,0.417,341,2000,49,567,774,...,2.3,49,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
50,NaN,0.1,4.5,Kaniel Dickens,0.4,19,2000,50,12,2,...,0.1,50,0.055,-5,-0.1,UTA,Idaho,3,85,22
51,NaN,0.1,5.8,Igor Rakočević,0.379,42,2000,51,17,33,...,0.8,51,0.022,-7.1,-0.3,MIN,NaN,1,244,78
52,NaN,-0.2,7,Ernest Brown,0.167,3,2000,52,6,0,...,0,52,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
53,NaN,0,9.7,Dan McClintock,0.5,6,2000,53,17,1,...,0.2,53,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
54,NaN,NaN,NaN,Cory Hightower,NaN,NaN,2000,54,NaN,NaN,...,NaN,54,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
55,NaN,0.2,22.5,Chris Porter,0.389,51,2000,55,189,61,...,1.2,55,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440
56,NaN,NaN,NaN,Jaquay Walls,NaN,NaN,2000,56,NaN,NaN,...,NaN,56,NaN,NaN,NaN,IND,Colorado,NaN,NaN,NaN
57,NaN,NaN,NaN,Scoonie Penn,NaN,NaN,2000,57,NaN,NaN,...,NaN,57,NaN,NaN,NaN,ATL,Ohio State,NaN,NaN,NaN
58,NaN,NaN,NaN,Pete Mickeal,NaN,NaN,2000,58,NaN,NaN,...,NaN,58,NaN,NaN,NaN,DAL,Cincinnati,NaN,NaN,NaN
"(﻿, nan, nan, nan, Round 1, nan, nan, Totals, nan, nan, nan, nan, Shooting, nan, nan, Per Game, nan, nan, nan, Advanced, nan, nan)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(year, Rk, Pk, Tm, Player, College, Yrs, G, MP, PTS, TRB, AST, FG%, 3P%, FT%, MP, PTS, TRB, AST, WS, WS/48, BPM)",VORP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 1, 1, WAS, Kwame Brown, nan, 12, 607, 13389, 4035, 3333, 554, 0.492, 0.111, 0.57, 22.1, 6.6, 5.5, 0.9, 20.8, 0.074, -2.1)",-0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 2, 2, LAC, Tyson Chandler, nan, 19, 1159, 31617, 9509, 10467, 967, 0.597, 0, 0.644, 27.3, 8.2, 9, 0.8, 102.1, 0.155, 1.4)",27.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2001, 3, 3, ATL, Pau Gasol, nan, 18, 1226, 41001, 20894, 11305, 3925, 0.507, 0.368, 0.753, 33.4, 17, 9.2, 3.2, 144.1, 0.169, 3.5)",56.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_sort = df.sort_values(by = "Year")
df_sort.head()

,nan,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,NaN,0.3,15.6,A.J. Guyton,0.377,80,2000,32,80,147,...,1.8,32,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,NaN,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,NaN,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,NaN,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [7]:
college_df=df_sort.dropna(axis=0, subset=["College"], inplace=False)
college_df.head(10)

,nan,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,NaN,0.3,15.6,A.J. Guyton,0.377,80,2000,32,80,147,...,1.8,32,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,NaN,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,NaN,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,NaN,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,NaN,20,17.3,Eddie House,0.409,717,2000,37,1223,1112,...,1.6,37,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,NaN,24.7,18.1,Eduardo Nájera,0.481,619,2000,38,2307,493,...,0.8,38,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,NaN,-0.2,7.3,Lavor Postell,0.335,61,2000,39,45,13,...,0.2,39,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,NaN,0.9,15.2,Hanno Möttölä,0.442,155,2000,40,442,75,...,0.5,40,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,NaN,Chris Carrawell,NaN,NaN,2000,41,NaN,NaN,...,NaN,41,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN

In [8]:
clean=college_df.drop(columns=["FG%", "TRB", "AST", "3P%","FT%","TRB","AST", "Pk"])
clean.head()

,nan,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,NaN,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
32,NaN,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
33,NaN,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,NaN,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,NaN,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [9]:
clean.columns=["Win Shares", "Mins Played (per game)", "Player","Games","Year","Rank","Points(per game)","WS/48", "Box +/-","Value Overall Replacement Player", "Team", "College", "Years","Mins Played (Total)","Points (Total)"]
                                
clean.rename(columns={df_sort.columns[0]:"Win Shares"})

ValueError: Length mismatch: Expected axis has 16 elements, new values have 15 elements

In [10]:
df_reindex=clean.reset_index()
df_reindex=df_reindex.drop(['index'],axis=1)
df_reindex.head(20)

,nan,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
0,NaN,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,NaN,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
2,NaN,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
3,NaN,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
4,NaN,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
5,NaN,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
6,NaN,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
7,NaN,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
8,NaN,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
9,NaN,NaN,NaN,Chris Carrawell,NaN,2000,41,NaN,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
10,NaN,55.9,32,Michael Redd,629,2000,43,19,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
11,NaN,0.3,9.4,Dan Langhi,133,2000,31,3,0.012,-6.8,-1.5,DAL,Vanderbilt,4,1253,393
12,NaN,1.3,9.8,Jabari Smith,108,2000,45,3,0.058,-4,-0.5,SAC,LSU,4,1063,329
13,NaN,NaN,NaN,Mark Karcher,NaN,2000,48,NaN,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
14,NaN,8.6,15.5,Jason Hart,341,2000,49,4.8,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
15,NaN,0.1,4.5,Kaniel Dickens,19,2000,50,1.2,0.055,-5,-0.1,UTA,Idaho,3,85,22
16,NaN,-0.2,7,Ernest Brown,3,2000,52,1,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
17,NaN,0,9.7,Dan McClintock,6,2000,53,3,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
18,NaN,NaN,NaN,Cory Hightower,NaN,2000,54,NaN,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
19,NaN,0.2,22.5,Chris Porter,51,2000,55,8.6,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440

In [11]:
clean_df=df_reindex.fillna(value=0)
clean_df.head()

,nan,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
0,0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,0,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
2,0,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
3,0,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
4,0,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51

In [12]:
clean_df.dtypes

0
NaN         int64
WS         object
MP         object
Player     object
G          object
Year       object
Rk         object
PTS        object
WS/48      object
BPM        object
VORP       object
Tm         object
College    object
Yrs        object
MP         object
PTS        object
dtype: object

In [13]:
clean_df["Win Shares"]= clean_df["Win Shares"].astype ('float')
clean_df["Mins Played (per game)"]=clean_df["Mins Played (per game)"].astype ('float')
clean_df["Points(per game)"]=clean_df["Points(per game)"].astype ('float')
clean_df["WS/48"]=clean_df["WS/48"].astype ('float')
clean_df["Box +/-"]=clean_df["Box +/-"].astype ('float')
clean_df["Value Overall Replacement Player"]=clean_df["Value Overall Replacement Player"].astype ('float')


clean_df["Games"]=clean_df["Games"].astype("int")
clean_df["Year"]=clean_df["Year"].astype("int")
clean_df["Rank"]=clean_df["Rank"].astype("int")
clean_df["Years"]=clean_df["Years"].astype("int")
clean_df["Mins Played (Total)"]=clean_df["Mins Played (Total)"].astype("int")
clean_df["Points (Total)"]=clean_df["Points (Total)"].astype("int")

clean_df["Player"]=clean_df["Player"].astype(str)
#  "Player":str,

#  "Team":str, 
# "College":str,

KeyError: 'Win Shares'

In [14]:
clean_df.dtypes

0
NaN         int64
WS         object
MP         object
Player     object
G          object
Year       object
Rk         object
PTS        object
WS/48      object
BPM        object
VORP       object
Tm         object
College    object
Yrs        object
MP         object
PTS        object
dtype: object

In [15]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 16 columns):
nan        818 non-null int64
WS         818 non-null object
MP         818 non-null object
Player     818 non-null object
G          818 non-null object
Year       818 non-null object
Rk         818 non-null object
PTS        818 non-null object
WS/48      818 non-null object
BPM        818 non-null object
VORP       818 non-null object
Tm         818 non-null object
College    818 non-null object
Yrs        818 non-null object
MP         818 non-null object
PTS        818 non-null object
dtypes: int64(1), object(15)
memory usage: 102.3+ KB

In [16]:
#to calculate median w/s of NBA player remove draft picks who did not play 
no_zeros = clean_df["Games"] != 0
no_zero_df = clean_df[no_zeros]
len(no_zero_df)

KeyError: 'Games'

In [17]:
#we will use the mean to separate above-average from below-average players
print(no_zero_df['WS/48'].median())

NameError: name 'no_zero_df' is not defined

In [18]:
#create blank column for Class of player
clean_df["Class"] =''

In [19]:
#run for loop to assingn Star, Above Avg, Below Avg of Bust to the Class column
# for i in range(len(clean_df)) : 
#     if clean_df.loc[i,'Year'] < 2018 and clean_df.loc[i,'Years'] <= 2:
#         clean_df.loc[i,'Class'] = "Bust"
#     elif clean_df.loc[i,'Year'] == 2018 and clean_df.loc[i,'Years'] < 2:
#         clean_df.loc[i,'Class'] = "Bust"
#     elif clean_df.loc[i,'Year'] == 2019 and clean_df.loc[i,'Years'] < 1:
#         clean_df.loc[i,'Class'] = "Bust"
#     elif clean_df.loc[i,'Mins Played (per game)'] > 15 and clean_df.loc[i,'WS/48'] >= .12:
#         clean_df.loc[i,'Class'] = "Star"
#     elif clean_df.loc[i,'Mins Played (per game)'] > 15 and clean_df.loc[i,'WS/48'] < .12 and clean_df.loc[i,'WS/48'] > .068:
#         clean_df.loc[i,'Class'] = "Above Avg"
#     else:
#         clean_df.loc[i,'Class']  = "Below Avg"

In [20]:
for i in range(len(clean_df)) : 
    if clean_df.loc[i,'Year'] < 2018 and clean_df.loc[i,'Years'] <= 2:
        clean_df.loc[i,'Class'] = "Bust"
    elif clean_df.loc[i,'Year'] == 2018 and clean_df.loc[i,'Years'] < 2:
        clean_df.loc[i,'Class'] = "Bust"
    elif clean_df.loc[i,'Year'] == 2019 and clean_df.loc[i,'Years'] < 1:
        clean_df.loc[i,'Class'] = "Bust"
    else:
        clean_df.loc[i,'Class'] = "Player"

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
#check df
clean_df.head(10)

,nan,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS,Class
0,0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325,
1,0,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442,
2,0,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814,
3,0,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314,
4,0,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51,
5,0,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356,
6,0,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052,
7,0,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195,
8,0,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715,
9,0,0,0,Chris Carrawell,0,2000,41,0,0,0,0,SAS,Duke,0,0,0,

In [22]:
#count number of players in each class
type_df = clean_df.groupby('Class').count()
type_df

,nan,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
Class,,,,,,,,,,,,,,,,
,818,818,818,818,818,818,818,818,818,818,818,818,818,818,818,818

In [23]:
# #check percentage of Classes
# total = type_df["Games"].sum()
# above = (type_df.iloc[0, 0]/total)*100
# below = (type_df.iloc[1, 0]/total)*100
# bust = (type_df.iloc[2, 0]/total)*100
# star = (type_df.iloc[3, 0]/total)*100
# print(f'% of Above Avg Players: {above}')
# print(f'% of Below Avg Players: {below}')
# print(f'% of Bust Players: {bust}')
# print(f'% of Star Players: {star}')

In [ ]:
# # #df.to_csv(file_name, sep='\t', encoding='utf-8')
clean_df.to_csv("NBA_data.csv",index = False, header = True)