In [1]:
#import dependencies
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import os

In [2]:
df = pd.read_csv('NCAA_data.csv')
df.head()

,player_id,name,class,college,assists,blocks,effective_field_goal_percentage,field_goal_percentage,free_throw_attempt_rate,free_throw_percentage,...,turnover_percentage,turnovers,win_shares_per_40_minutes,assists_per_40,blocks_per_40,points_per_40,steals_per_40,three_pointers_per_40,total_rebounds_per_40,turnovers_per_40
0,kenyon-martin-1,Kenyon Martin,Above Avg,cincinnati,142,292,0.587,0.586,0.494,0.581,...,14.3,139.0,0.346,2.781587,5.719882,25.053869,2.428991,0.039177,17.022527,2.722821
1,aj-guyton-1,A.J. Guyton,Below Avg,indiana,403,52,0.541,0.455,0.249,0.790,...,13.6,218.0,0.145,4.944785,0.638037,25.766871,1.582822,3.472393,5.263804,2.674847
2,jake-voskuhl-1,Jake Voskuhl,Below Avg,uconn,124,193,0.542,0.542,0.555,0.656,...,23.0,160.0,0.237,2.271062,3.534799,15.805861,1.575092,0.000000,16.117216,2.930403
3,khalid-el-amin-1,Khalid El-Amin,Bust,uconn,479,10,0.486,0.416,0.257,0.822,...,15.6,188.0,0.158,8.915775,0.186133,30.711959,3.462075,3.629595,5.937645,3.499302
4,mike-smith-1,Mike Smith,Bust,louisiana monroe,147,42,0.507,0.428,0.357,0.769,...,20.0,241.0,0.165,3.034056,0.866873,21.919505,1.857585,2.683179,9.267286,4.974200

In [3]:
y = df["class"]

In [10]:
X = df.drop(["class","player_id","name","college"], axis=1)
feature_names = X.columns
X.head()

,assists,blocks,effective_field_goal_percentage,field_goal_percentage,free_throw_attempt_rate,free_throw_percentage,games_played,height,minutes_played,points,...,turnover_percentage,turnovers,win_shares_per_40_minutes,assists_per_40,blocks_per_40,points_per_40,steals_per_40,three_pointers_per_40,total_rebounds_per_40,turnovers_per_40
0,142,292,0.587,0.586,0.494,0.581,116,81,2042.0,1279,...,14.3,139.0,0.346,2.781587,5.719882,25.053869,2.428991,0.039177,17.022527,2.722821
1,403,52,0.541,0.455,0.249,0.790,128,73,3260.0,2100,...,13.6,218.0,0.145,4.944785,0.638037,25.766871,1.582822,3.472393,5.263804,2.674847
2,124,193,0.542,0.542,0.555,0.656,138,83,2184.0,863,...,23.0,160.0,0.237,2.271062,3.534799,15.805861,1.575092,0.000000,16.117216,2.930403
3,479,10,0.486,0.416,0.257,0.822,108,70,2149.0,1650,...,15.6,188.0,0.158,8.915775,0.186133,30.711959,3.462075,3.629595,5.937645,3.499302
4,147,42,0.507,0.428,0.357,0.769,55,80,1938.0,1062,...,20.0,241.0,0.165,3.034056,0.866873,21.919505,1.857585,2.683179,9.267286,4.974200

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
#
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/melissamason/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """
/Users/melissamason/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [13]:
# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_train, y_train)

0.9984350547730829

In [14]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_
importances

array([0.03590895, 0.03421764, 0.03922042, 0.04809172, 0.04215401,
       0.03977113, 0.05043805, 0.02288094, 0.04273641, 0.03639836,
       0.03472209, 0.03565682, 0.03069904, 0.04231694, 0.04138098,
       0.04076893, 0.03961356, 0.05997815, 0.04083121, 0.03758882,
       0.04054229, 0.0432784 , 0.03315428, 0.04312056, 0.04453032])

In [16]:
# We can sort the features by their importance
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.0599781522241395, 'win_shares_per_40_minutes'),
 (0.05043804897148598, 'games_played'),
 (0.04809171723223047, 'field_goal_percentage'),
 (0.04453031935229505, 'turnovers_per_40'),
 (0.04327839862070501, 'steals_per_40'),
 (0.04312055521791694, 'total_rebounds_per_40'),
 (0.0427364071251512, 'minutes_played'),
 (0.04231694110471352, 'total_rebounds'),
 (0.04215400535812042, 'free_throw_attempt_rate'),
 (0.041380982327582555, 'true_shooting_percentage'),
 (0.04083120969613185, 'assists_per_40'),
 (0.04076892766674158, 'turnover_percentage'),
 (0.04054228819832513, 'points_per_40'),
 (0.039771132514601584, 'free_throw_percentage'),
 (0.03961355750302147, 'turnovers'),
 (0.0392204203643942, 'effective_field_goal_percentage'),
 (0.03758882204359602, 'blocks_per_40'),
 (0.03639836477486102, 'points'),
 (0.03590894731859269, 'assists'),
 (0.03565682120033549, 'three_point_percentage'),
 (0.034722085700540715, 'steals'),
 (0.034217637485832876, 'blocks'),
 (0.03315427789673717, 'three_pointers_per_40'),
 (0.03069903707041994, 'three_pointers'),
 (0.022880943031527587, 'height')]