In [2]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from math import sqrt
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv("NBA_data.csv")
df.head()

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,48.0,30.6,Kenyon Martin,757.0,2000,1,12.3,0.100,0.7,15.5,NJN,Cincinnati,15.0,23134.0,9325.0
1,11.6,14.3,Jake Voskuhl,450.0,2000,33,4.0,0.087,-2.2,-0.3,CHI,UConn,9.0,6443.0,1814.0
2,0.6,18.7,Khalid El-Amin,50.0,2000,34,6.3,0.030,-3.8,-0.4,CHI,UConn,1.0,936.0,314.0
3,-0.1,10.6,Mike Smith,17.0,2000,35,3.0,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1.0,180.0,51.0
4,20.0,17.3,Eddie House,717.0,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11.0,12405.0,5356.0

In [4]:
target = df["Win Shares"]
target_names = ["negative", "positive"]

In [5]:
win = df.drop("Win Shares", axis=1)
feature_names = win.columns
win.head()

,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,30.6,Kenyon Martin,757.0,2000,1,12.3,0.100,0.7,15.5,NJN,Cincinnati,15.0,23134.0,9325.0
1,14.3,Jake Voskuhl,450.0,2000,33,4.0,0.087,-2.2,-0.3,CHI,UConn,9.0,6443.0,1814.0
2,18.7,Khalid El-Amin,50.0,2000,34,6.3,0.030,-3.8,-0.4,CHI,UConn,1.0,936.0,314.0
3,10.6,Mike Smith,17.0,2000,35,3.0,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1.0,180.0,51.0
4,17.3,Eddie House,717.0,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11.0,12405.0,5356.0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(win, target, random_state=42)

In [12]:
# Support vector machine linear classifier

#LABEL ENCODING BLOCK

X_train = X_train.apply(LabelEncoder().fit_transform) 
win = win.drop(X_train.columns, axis=1)
# #END LABEL ENCODING BLOCK


from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').